.loaded .session__header-image.keynote {
  background-image: url(../images/sessions/keynote.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.keynote {
    background-image: url(../images/sessions/keynote@2x.jpg);
  }
}

.loaded .session__header-image.wicked-fast {
  background-image: url(../images/sessions/wicked-fast.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.wicked-fast {
    background-image: url(../images/sessions/wicked-fast@2x.jpg);
  }
}

.loaded .session__header-image.asking-for-super-powers-chromes-permission-model {
  background-image: url(../images/sessions/asking-for-super-powers-chromes-permission-model.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.asking-for-super-powers-chromes-permission-model {
    background-image: url(../images/sessions/asking-for-super-powers-chromes-permission-model@2x.jpg);
  }
}

.loaded .session__header-image.material-design-deconstructed {
  background-image: url(../images/sessions/material-design-deconstructed.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.material-design-deconstructed {
    background-image: url(../images/sessions/material-design-deconstructed@2x.jpg);
  }
}

.loaded .session__header-image.the-applied-science-of-runtime-performance {
  background-image: url(../images/sessions/the-applied-science-of-runtime-performance.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.the-applied-science-of-runtime-performance {
    background-image: url(../images/sessions/the-applied-science-of-runtime-performance@2x.jpg);
  }
}

.loaded .session__header-image.making-web-apps-appy {
  background-image: url(../images/sessions/making-web-apps-appy.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.making-web-apps-appy {
    background-image: url(../images/sessions/making-web-apps-appy@2x.jpg);
  }
}

.loaded .session__header-image.tls-all-the-things-security-with-performance {
  background-image: url(../images/sessions/tls-all-the-things-security-with-performance.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.tls-all-the-things-security-with-performance {
    background-image: url(../images/sessions/tls-all-the-things-security-with-performance@2x.jpg);
  }
}

.loaded .session__header-image.easy-composition-and-reuse {
  background-image: url(../images/sessions/easy-composition-and-reuse.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.easy-composition-and-reuse {
    background-image: url(../images/sessions/easy-composition-and-reuse@2x.jpg);
  }
}

.loaded .session__header-image.polymer-state-of-the-union {
  background-image: url(../images/sessions/polymer-state-of-the-union.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.polymer-state-of-the-union {
    background-image: url(../images/sessions/polymer-state-of-the-union@2x.jpg);
  }
}

.loaded .session__header-image.lets-build-some-apps-with-polymer {
  background-image: url(../images/sessions/lets-build-some-apps-with-polymer.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.lets-build-some-apps-with-polymer {
    background-image: url(../images/sessions/lets-build-some-apps-with-polymer@2x.jpg);
  }
}

.loaded .session__header-image.fundamentals-of-mobile-web-development {
  background-image: url(../images/sessions/fundamentals-of-mobile-web-development.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.fundamentals-of-mobile-web-development {
    background-image: url(../images/sessions/fundamentals-of-mobile-web-development@2x.jpg);
  }
}

.loaded .session__header-image.closing-keynote {
  background-image: url(../images/sessions/closing-keynote.jpg);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .session__header-image.closing-keynote {
    background-image: url(../images/sessions/closing-keynote@2x.jpg);
  }
}

.loaded .sessions__session-detail--panel .session__header-image {
  background-image: url(../images/sessions/panel.png);
}

@media (min-resolution: 2.0dppx), (-webkit-min-device-pixel-ratio: 2), (min-width: 600px) {
  .loaded .sessions__session-detail--panel .session__header-image {
    background-image: url(../images/sessions/panel@2x.png);
  }
}
