# Ignore NPM and Bower folders.
bower_components
node_modules
npm-debug.log

# Ignore prod/dist folders
dist

# Ignore generated CSS.
.sass-cache
app/styles/**/*.css

# Other generated/common stuff.
.tmp
.DS_Store
*.pyc
