# Ignore NPM and Bower folders.
bower_components
node_modules
npm-debug.log

# Ignore prod/dist folders
dist

# Ignore generated CSS.
.sass-cache
app/styles/**/*.css
app/elements/**/*.css

# Built Experiment
app/experiment

# backend stuff, keys
backend/bin
backend/app.yaml
backend/config.yaml
*.pem

# Other generated/common stuff.
.tmp
.DS_Store
*.pyc
screenshots

# This should be generated as part of the gulp build process.
app/service-worker.js
