cron:
- description: refresh io extended entries
  url: $PREFIX$/api/v1/extended?refresh
  schedule: every 1 hours
- description: refresh social entries
  url: $PREFIX$/api/v1/social?refresh
  schedule: every 8 minutes
- description: sync schedule data
  url: $PREFIX$/sync/gcs
  schedule: every 30 minutes
- description: sessions start notifications
  url: $PREFIX$/task/clock
  schedule: every 1 minutes
