{% define "title" %}About I/O{% end %}

{% define "mastheadBgClass" %}bg-dark-grey{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="about">About</i18n-msg></h1>
{% end %}

{% define "content" %}
  <paper-toolbar class="navbar__overlay navbar__overlay--gallery"
                 aria-hidden$="{{!photoGalleryActive}}" fit>
    <paper-icon-button icon="arrow-back" on-tap="closePhotoGallery"
                       aria-label="Close gallery"
                       tabindex="{{_enableTabIndex(photoGalleryActive)}}"></paper-icon-button>
    <span flex><i18n-msg msgid="io-in-photos">I/O in Photos</i18n-msg></span>
  </paper-toolbar>

  <paper-toolbar class="navbar__overlay navbar__overlay--video"
                 aria-hidden$="{{!fullscreenVideoActive}}" fit>
    <paper-icon-button icon="arrow-back" on-tap="closeVideoCard"
                       aria-label="Close video"
                       tabindex="{{_enableTabIndex(fullscreenVideoActive)}}"></paper-icon-button>
    <span flex><i18n-msg msgid="watch-keynote-video">Watch the 2015 I/O Keynote</i18n-msg></span>
  </paper-toolbar>

  <io-gallery hidden$="{{!photoGalleryActive}}" mobile="{{isPhoneSize}}"
              image-path="media.image.url" active="{{photoGalleryActive}}" fit></io-gallery>

  <div class="active">
    <div class="card__container card__container--top slide-up">
      <div class="card js-experiment-visualizer">
        <div class="card-content">
          <h3>Google I/O is an annual developer conference with inspirational talks, hands-on learning, and a chance to hear more about Google's latest developer products.</h3>
        </div>
        <div class="card-content">
          <span class="anchor-like" role="link" tabindex="0"
              data-track-link="about-view-photos-card"
              on-tap="togglePhotoGallery">See photos from I/O 2015</span>
        </div>
      </div>
    </div>

    <div class="slide-up-delay">

      <section class="page__section pics__section js-experiment-instrument" layout vertical>
        <div layout horizontal>
          <div class="photo__about" flex two$="{{isDesktopSize}}" relative>
            <iron-image placeholder="images/home/io-logo@2x.png"
                        style="background-color:#00BCD4"
                        sizing="cover" preload fade fit></iron-image>
          </div>
          <div layout vertical flex>
            <div class="photo__about--top" flex relative>
              <iron-image placeholder="images/home/io-logo@2x.png"
                          style="background-color:#00ACC1"
                          sizing="cover" preload fade fit></iron-image>
            </div>
            <div class="photo__about--bottom" flex relative hidden$="{{isPhoneSize}}">
              <iron-image placeholder="images/home/io-logo@2x.png"
                          style="background-color: #B2EBF2"
                          sizing="cover" preload fade fit></iron-image>
            </div>
          </div>
        </div>
      </section>

      <div class="card__container sidebyside card--force-compositing"
           layout horizontal vertical$="{{isPhoneSize}}">
        <div class="card js-experiment-visualizer" auto-vertical flex>
          <div class="card-content">
            <h3>Learn about product and platform innovations at Google, starting with the keynote hosted by our Senior Vice-President of Products, Sundar Pichai.</h3>
          </div>
          <div class="card-content">
            <a href="videos" data-track-link="about-see-keynote-and-sessions">Watch the 2015 keynote and sessions
            </a>
          </div>
        </div>
        <div class="card js-experiment-visualizer" layout vertical auto-vertical flex
             on-tap="playVideo" data-track-link="about-watch-keynote-video">
          <div flex class="card__photo card__photo--recap"></div>
          <div class="card-content">
            <img src="images/play-video-button.png"
                 class="play__button play__button--card" alt="Play video">
            <span class="anchor-like" role="link" tabindex="0">Watch the keynote</span>
          </div>
        </div>
      </div>

      <section id="hashtag" class="page__section bg-cyan js-experiment-instrument">
        <a href="//www.google.com/?#q=%23io15" target="_blank" data-track-link="about-hashtag-search"><div class="io__hash"></div></a>
      </section>

    </div>
  </div>

  <template is="dom-if" if="[[fullscreenVideoActive]]" restamp>
    <div class="fullvideo__container" fit hidden>
      <img src="images/home/keynote2015.jpg" class="fullvideo_thumbnail"
           alt="Watch the I/O 2015 keynote" fit>
      <google-youtube video-id="7V-fIGMDsmE" height="100%" width="100%" fit
                      autohide="1" controls="2" modestbranding="1" showinfo="0"
                      iv_load_policy="3" rel="0" autoplay="1"></google-youtube>
    </div>
  </template>

  <script>
  (function() {

    function runPhotoGalleryAnimation(opt_reverse, opt_callback) {
      var topCard = IOWA.Elements.Main.querySelector('.card__container.slide-up');
      var bottomCard = IOWA.Elements.Main.querySelector('.pics__section').nextElementSibling;
      var bottomSection = IOWA.Elements.Main.querySelector('#hashtag');

      var navOverlay = document.querySelector('.navbar__overlay--gallery');

      var reverse = opt_reverse || false;

      var ANIMATION_DURATION = 500;

      var animationTiming = {
        duration: ANIMATION_DURATION,
        fill: 'forwards',
        direction: reverse ? 'reverse' : 'normal',
        easing: 'cubic-bezier(0.4,0,0.2,1)'
      };

      var animation = new KeyframeEffect(bottomSection, [
        {transform: 'translateY(0)', opacity: 1},
        {transform: 'translateY(100px)', opacity: 0}
      ], animationTiming);

      var gallery = IOWA.Elements.Main.querySelector('io-gallery');

      // Only animate top/bottom cards offscreen if not on mobile.
      if (!gallery.mobile) {
        animation = new GroupEffect([
          animation,
          new KeyframeEffect(topCard, [
            {transform: 'translateY(0)', opacity: 1},
            {transform: 'translateY(-100px)', opacity: 0}
          ], animationTiming),
          new KeyframeEffect(bottomCard, [
            {transform: 'translateY(0)', opacity: 1},
            {transform: 'translateY(100px)', opacity: 0}
          ], animationTiming)
        ]);
      }

      var galleryAnimation = new KeyframeEffect(gallery, [
        {opacity: 0}, {opacity: 1}
      ], animationTiming);

      if (reverse) {
        // Fade out gallery and slide back in page sections at the same time.
        IOWA.PageAnimation.play(new GroupEffect([
          animation, galleryAnimation
        ]), opt_callback);
        navOverlay.classList.remove('active');
      } else {
        // Slide out page sections, then fade in gallery.
        IOWA.PageAnimation.play(new SequenceEffect([
          animation, galleryAnimation
        ]), opt_callback);
        navOverlay.classList.add('active');
      }
    }

    // Page-specific JS that runs when this page is loaded for the first time.
    function initPage() {
      var page = IOWA.Elements.Template.pages['about'];

      if (page.hasBeenLoaded) {
        return;
      }

      page.onPageTransitionDone = function(e) {

        // TODO: consider calling this periodically while the page is open.
        // Don't want to be rate limited though :\
        var setImages = function(photos) {
          var images = Array.prototype.slice.call(
              IOWA.Elements.Main.querySelectorAll('.pics__section iron-image'));

          var usedImages = [];

          var update = function(images) {
            var image = images.pop();
            if (image) {
              setTimeout(function() {
                // Get a refresh image index every time.
                var idx;
                do {
                  idx = Math.floor(Math.random() * photos.length);
                } while (usedImages.indexOf(idx) != -1);

                usedImages.push(idx);

                image.src = photos[idx].media.image.url;

                update(images);
              }, 300);
            }
          };

          update(images);
        };

        var gallery = IOWA.Elements.Main.querySelector('io-gallery');
        if (gallery.items.length) {
          setImages(gallery.items);
        } else {
          IOWA.Picasa.fetchPhotos(0, function(photos) {
            gallery.items = photos;
            setImages(photos);
          });
        }

        if (location.hash.substring(1) == 'photos') {
          IOWA.Elements.Template.togglePhotoGallery(e);
        }
      };

      page.load = function() {
        // Reset template variables for when revisiting the page.
        IOWA.Elements.Template.photoGalleryActive = false;
        IOWA.Elements.Template.fullscreenVideoActive = false;
      };

      IOWA.Elements.Template.closePhotoGallery = function(e, detail, sender) {

        runPhotoGalleryAnimation(true, function() {
          IOWA.Elements.Template.photoGalleryActive = false;
        });

        history.replaceState({}, null, location.pathname); // Remove #photos hash from URL.
      };

      IOWA.Elements.Template.togglePhotoGallery = function(e, detail) {
        var target = Polymer.dom(e).rootTarget;

        if (target && target.hasAttribute('data-track-link')) {
          IOWA.Analytics.trackEvent('link', 'click', target.getAttribute('data-track-link'));
        } else {
          IOWA.Analytics.trackEvent('link', 'click', 'about-photos-deeplink');
        }

        if (!IOWA.Elements.Template.photoGalleryActive) {
          // Smooth to gallery section.
          // var destEl = IOWA.Elements.Main.querySelector('.pics__section');
          // IOWA.Util.smoothScroll(destEl, 400);

          var galleryReady = function() {
            IOWA.Elements.Template.photoGalleryActive = true;
            runPhotoGalleryAnimation();
          };

          var gallery = IOWA.Elements.Main.querySelector('io-gallery');
          // Use cached photos.
          if (gallery.items.length) {
            galleryReady();
          } else {
            IOWA.Picasa.fetchPhotos(0, function(photos) {
              gallery.items = photos;
              galleryReady();
            });
          }

        } else {
          runPhotoGalleryAnimation(true); // reverse animation when gallery is open.
          IOWA.Elements.Template.photoGalleryActive = false;
        }
      };

      page.load(); // Run load callback on page load.
      page.hasBeenLoaded = true;
    }

    // IE will be "loading" at this point. Other browsers will already be "complete".
    if (document.readyState !== 'loading') {
      initPage();
    }

    // Necessary for IE's lack of native <template>
    // https://github.com/GoogleChrome/ioweb2015/issues/599
    window._initPage = initPage;

  })();
  </script>
{% end %}
