{% define "title" %}"About I/O"{% end %}

{% define "mastheadBgClass" %}bg-dark-grey{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="about">About</i18n-msg></h1>
{% end %}

{% define "content" %}
<!-- {{ {active: pages[selectedPage].galleryOpen} | tokenList }} -->
  <core-toolbar class="navbar--overlay" fit>
    <paper-icon-button icon="arrow-back" on-tap="{{closePhotoGallery}}"></paper-icon-button>
    <span flex><i18n-msg msgid="io-in-photos">I/O in Photos</i18n-msg></span>
  </core-toolbar>

  <core-toolbar class="navbar--overlay" fit>
    <paper-icon-button icon="arrow-back" on-tap="{{closeVideoCard}}"></paper-icon-button>
  </core-toolbar>

  <div class="card__container slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h2><i18n-msg msgid="about-io">Google I/O is an annual developer conference to learn, share and get inspired about the latest and greatest in tech.</i18n-msg></h2>
      </div>
      <div class="card-content card-content--paper">
        <a href="#" data-track-link="about-view-photos-card" on-click="{{togglePhotoGallery}}">
          <i18n-msg msgid="see-photos-2014">See photos from I/O 2014</i18n-msg>
        </a>
      </div>
    </div>
  </div>

  <div class="slide-up-delay">
    <section class="page__section pics__section js-experiment-instrument" layout horizontal>
      <div class="photo__about" flex two></div>
      <div layout vertical flex>
        <div class="photo__about--top" layout vertical flex></div>
        <div class="photo__about--bottom" layout vertical flex>
          <paper-button hidden?="{{isPhoneSize}}"
                        data-track-link="about-view-photos-section"
                        on-tap="{{togglePhotoGallery}}">
            <i18n-msg msgid="see-more-photos">See more photos from past I/Os</i18n-msg>
            <core-icon icon="io:photo-camera" aria-hidden="true"></core-icon>
          </paper-button>
        </div>
      </div>
    </section>

    <div class="card__container sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content">
          <h3><i18n-msg msgid="about-sundar">Join us to learn about product and platform innovations at Google, starting with a live kickoff from our Senior Vice-President of Products, Sundar Pichai.</i18n-msg></h3>
        </div>
        <div class="card-content">
          <a href="https://www.google.com/events/io/schedule" target="_blank" data-track-link="about-see-keynote-and-sessions">
            <i18n-msg msgid="about-see-keynote">See the 2014 Keynote and sessions</i18n-msg>
          </a>
        </div>
      </div>
      <div class="card" layout vertical auto-vertical flex on-tap="{{playVideo}}">
        <div flex class="card__photo card__photo--recap"></div>
        <div class="card-content">
          <img src="images/play-video-button.png" class="play__button" alt="Play video">
          <a href="https://www.youtube.com/watch?v=ksvdvCDO7pA" data-track-link="about-watch-2014-recap-video"><core-icon icon="io:play-circle-fill" aria-hidden="true"></core-icon> <i18n-msg msgid="watch-recap-video">Watch the 2014 I/O Recap Video</i18n-msg></a>
        </div>
      </div>
    </div>

    <section id="hashtag" class="page__section bg-cyan js-experiment-instrument">
      <div class="io__hash"></div>
    </section>
  </div>

  <template if="{{fullscreenVideoActive}}">
    <div class="fullvideo__container" on-google-youtube-ready="{{videoReady}}" fit hidden>
      <img src="images/home/recap-500@2x.jpg" class="fullvideo_thumbnail" fit>
      <google-youtube videoid="ksvdvCDO7pA" chromeless height="100%" width="100%" fit></google-youtube>
    </div>
  </template>

  <script>
  (function() {

    var SCROLL_GALLERY_OFFSET_Y = 25;

    function scrollToGallery(opt_topPadding) {
      var el = document.querySelector('.pics__section');
      var padding = opt_topPadding || 0;
      IOWA.Elements.ScrollContainer.scrollTop = el.offsetTop - padding;
    }

    function runPhotoGalleryAnimation(opt_reverse, opt_callback) {
      var topCard = IOWA.Elements.Main.querySelector('.card__container.slide-up');
      var bottomCard = IOWA.Elements.Main.querySelector('.pics__section').nextElementSibling;

      var reverse = opt_reverse || false;

      var animationOptions = {
        duration: 600,
        fill: 'forwards',
        direction: reverse ? 'reverse' : 'normal',
        easing: 'cubic-bezier(0.4,0,0.2,1)'
      };

      var animation = new AnimationGroup([
        new Animation(topCard, [
          {transform: 'translateY(0)', opacity: 1},
          {transform: 'translateY(-200px)', opacity: 0}
        ], animationOptions),
        new Animation(bottomCard, [
          {transform: 'translateY(0)', opacity: 1},
          {transform: 'translateY(200px)', opacity: 0}
        ], animationOptions)
      ]);

      IOWA.PageAnimation.play(animation, opt_callback);
    }

    // Page-specific JS that runs when this page is loaded for the first time.
    function firstLoadSetup(page) {
      if (page.hasBeenLoaded) {
        return;
      }

      page.hasBeenLoaded = true;

      IOWA.Elements.Template.closePhotoGallery = function(e, detail, sender) {
        this.toggleOverlayNav();
        runPhotoGalleryAnimation(true);

        var page = this.pages[this.selectedPage];
        page.galleryOpen = false;
      };

      IOWA.Elements.Template.togglePhotoGallery = function(e, detail, sender) {
        e.preventDefault();

        var page = this.pages[this.selectedPage];

        if (!page.galleryOpen) {
          IOWA.Util.smoothScroll(
              IOWA.Elements.Main.querySelector('.pics__section'), 400);

          // scrollToGallery(SCROLL_GALLERY_OFFSET_Y);
          runPhotoGalleryAnimation(); // reverse animation if gallery is open.
          page.galleryOpen = true;
        } else {
          runPhotoGalleryAnimation(true); // reverse animation if gallery is open.
          page.galleryOpen = false;
        }

        this.toggleOverlayNav();
      };
    }

    var thisPage = IOWA.Elements.Template.pages[IOWA.Elements.Template.selectedPage];
    firstLoadSetup(thisPage);

    if (location.hash.substring(1) == 'photos') {
      // TODO(ericbidelman): wait until page transition is done before scrolling to element.
      // For now, arbitrary delay.
      setTimeout(function() {
        scrollToGallery(SCROLL_GALLERY_OFFSET_Y);
      }, 100);
    }

  })();
  </script>
{% end %}
