{% define "title" %}FAQ{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="faq">FAQ</i18n-msg></h1>
{% end %}

{% define "content" %}

  <section class="page__section page__section--copy slide-up">
    <div class="card__container">
      <div class="card js-experiment-visualizer">
        <div class="card-content card-content--top" layout horizontal vertical?="{{isPhoneSize}}" justified>
          <div>
            <h3><i18n-msg msgid="general">General</i18-msg></h3>
            <ul>
              <li><a href="#dateloc" on-click="{{scrollToFaq}}"><i18n-msg msgid="faq-dates-loc">2015 dates &amp; location</i18-msg></a></li>
              <li><a href="#badgepickup" on-click="{{scrollToFaq}}"><i18n-msg msgid="badge-pickup">Badge pick-up</i18-msg></a></li>
              <li><a href="#informed" on-click="{{scrollToFaq}}"><i18n-msg msgid="stay-informed">Stay informed</i18-msg></a></li>
              <li><a href="#livestream" on-click="{{scrollToFaq}}"><i18n-msg msgid="livestream">Live stream &amp; recordings</i18-msg></a></li>
            </ul>
          </div>
          <div>
            <h3><i18n-msg msgid="registration">Registration</i18-msg></h3>
            <ul>
              <li><a href="#registration" on-click="{{scrollToFaq}}"><i18n-msg msgid="registration">Registration</i18-msg></a></li>
              <li><a href="#toc" on-click="{{scrollToFaq}}"><i18n-msg msgid="toc">Terms &amp; Conditions</i18-msg></a></li>
              <li><a href="#academic" on-click="{{scrollToFaq}}"><i18n-msg msgid="acamedic-tickets">Academic tickets</i18-msg></a></li>
              <li><a href="#presstix" on-click="{{scrollToFaq}}"><i18n-msg msgid="press-tickets">Press tickets</i18-msg></a></li>
            </ul>
          </div>
          <div>
            <h3><i18n-msg msgid="attendance-details">Attendance Details</i18-msg></h3>
            <ul>
              <li><a href="#badges" on-click="{{scrollToFaq}}"><i18n-msg msgid="badges">Badges</i18-msg></a></li>
              <li><a href="#afterhours" on-click="{{scrollToFaq}}"><i18n-msg msgid="afterhours">After Hours</i18-msg></a></li>
              <li><a href="#a11y" on-click="{{scrollToFaq}}"><i18n-msg msgid="a11y">Accessibility</i18-msg></a></li>
              <li><a href="#conduct" on-click="{{scrollToFaq}}"><i18n-msg msgid="conduct">Conduct</i18-msg></a></li>
              <li><a href="#childcare" on-click="{{scrollToFaq}}"><i18n-msg msgid="child-care">Child Care</i18-msg></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="slide-up-delay">

    <section class="page__section page__section--copy">
      <div class="card__container">
        <div class="card">
          <div class="card-content">
            <h3><i18n-msg msgid="general">General</i18-msg></h3>

            <h5 id="dateloc"><i18n-msg msgid="faq-dates-loc">2015 dates &amp; location</i18-msg></h5>
            <p>The 2015 conference will be held from May 28 – 29 at <a href="https://www.moscone.com/site/do/index" target="_blank">Moscone West Convention Center</a> in San Francisco.</p>

            <h5 id="badgepickup"><i18n-msg msgid="badge-pickup">Badge pick-up</i18-msg></h5>
            <p>To expedite the check-in process, we will begin badge pick-up on Wednesday, May 27. Make sure to bring your photo ID, as we'll need to verify it prior to assigning you your Google I/O badge. We're OK with government issued licenses, passports, and other forms of identification. If you don't have proper identification, you won't be able to receive a badge and will not be admitted into the conference. If you're an Academic attendee, please remember to bring proof of eligibility.</p>

            <h5 id="informed"><i18n-msg msgid="stay-informed">Stay informed</i18-msg></h5>
            <p>To stay up to date on the latest information on sessions, speakers, and activities, be sure to visit the <a href="./" data-ajax-link>Google I/O 2015 website</a>, the <a href="http://googledevelopers.blogspot.com/" target="_blank" data-track-link="faq-link-blog">Google Developers Blog</a>, and follow us on <a href="https://plus.google.com/+GoogleDevelopers" target="_blank" data-track-link="faq-link-gplus">Google+</a> and <a href="https://twitter.com/googledevs" target="_blank" data-track-link="faq-link-twitter">Twitter</a>. In addition, we'll be emailing all registered attendees the latest information and check-in instructions prior to the conference.</p>

            <h5 id="livestream"><i18n-msg msgid="livestream">Live stream &amp; recordings</i18-msg></h5>
            <p>Even if you're not coming to Google I/O, you can be part of the magic. You can watch live streams of the keynote and many other sessions via I/O Live on our website. Even better, be part of Google I/O by attending an <a href="offsite" data-ajax-link data-track-link="faq-link-extended">I/O Extended event</a> in your area. If you can't watch live, you can see YouTube recordings of all sessions after the conference.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="page__section page__section--copy">
      <div class="card__container">
        <div class="card">
          <div class="card-content">
            <h3><i18n-msg msgid="registration">Registration</i18-msg></h3>

            <h5>Cost</h5>
            <p>General Admission Ticket: $900</p>
            <p>Academic Admission Ticket: $300</p>

            <h5 id="registration"><i18n-msg msgid="registration">Registration</i18-msg></h5>
            <p>The window to submit a registration application will open at 9AM PDT on March 17, 2015 and stay open until 5PM PDT on March 19, 2015, so you'll have plenty of time to apply. We'll randomly select applicants from among all of the qualified applications once the window closes on March 19, 2015 and notify those selected via email. The order in which registration applications are received has no bearing on the final outcome.</p>
            <p>Here's what to expect during the registration application window:</p>
            <ul>
              <li>You will need to sign into <a href="https://accounts.google.com" target="_blank">Google</a> to begin the registration application.</li>
              <li>You will then complete the required registration fields.</li>
              <li>Once you've successfully completed the registration application, you will reach a confirmation screen and receive a confirmation email to confirm your application submission shortly thereafter.</li>
            </ul>

            <h5 id="toc"><i18n-msg msgid="toc">Terms &amp; Conditions</i18-msg></h5>
            <ul>
              <li>Each individual may  purchase only one ticket. Tickets for Google I/O are for the full two-day conference and no single-day tickets are available.</li>
              <li>Google I/O tickets must be used by the original registrant and are non-transferable.</li>
              <li>Tickets may not be sold, bartered, auctioned, or transferred in any way and doing so may result in Google rendering the ticket null and void without any responsibility to Google.</li>
              <li>At check-in, we will check your photo ID prior to assigning you your Google I/O badge. We're OK with government issued licenses, passports, and other forms of identification. If you do not have proper identification, you won't be able to receive a badge and will not be admitted into the conference.</li>
              <li>If you buy an academic ticket and can't provide academic documentation during check-in at Google I/O, you won't be admitted or offered a refund, nor will you be able to convert your ticket to general admission. Please be sure to bring a current school ID or other proof that you are qualified to receive this special rate when you check in at the conference.</li>
              <li>If you can't attend, you can request a refund. Send the refund request to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a> by May 1, 2015. Any refund requests made after that date will not be approved.</li>
              <li>Attendees must be at least 15 years of age to attend Google I/O. 15, 16 and  17 year old attendees do not require an adult to accompany them; however, they must provide a signed parental consent form in advance or during on-site check-in. In addition, Google will not offer chaperone tickets for 15, 16 and 17 year old attendees.</li>
              <li>Attendees are not permitted to bring guests to Google I/O or to the After Hours party. If you have someone traveling with you, they will need to register themselves and purchase an attendee ticket.</li>
              <li>Photographs and/or video taken at Google I/O by Google, or others on behalf of Google, may include your image or likeness. You agree that Google may use such photographs and/or video for any purpose without compensation to you.</li>
              <li>All information entered into the registration form must be correct and accurate to the best of your knowledge. All information must be entered in English. Some of the information entered (such as name, company, and the photo you upload), will be displayed on the attendee badge.</li>
              <li>Google I/O badges may contain NFC, BLE, or other RFID technologies to help us serve attendees and determine participation in various sessions and activities.</li>
              <li>All registered attendees agree to allow Google to contact them regarding their registration and attendance at the event. By purchasing a ticket, you agree to allow Google to communicate with you via email with information regarding the event.</li>
              <li>Attendance at Google I/O is not allowed by the following:
                <ul>
                  <li>residents of embargoed countries,</li>
                  <li>individuals ordinarily resident in embargoed countries, or</li>
                  <li>individuals otherwise prohibited by applicable export controls and sanctions programs.</li>
                </ul>
              </li>
            </ul>

            <h5>More registration details</h5>
            <ul>
              <li>Once registered, you will not be able to change the name on your registration. Please make sure to register using the name that matches the government-issued photo ID you will be presenting when you check in to the conference.</li>
              <li>Registration for Google I/O includes two full days of sessions, product demos, admission to the After Hours reception, and attendance at the keynote. We also provide complimentary breakfast, lunch, and snacks each day along with food and drinks at After Hours. In addition, attendees receive a conference badge and t-shirt and may be offered additional gifts. If you are not sure whether the professional guidelines for your school, university, organization, or agency would allow you to accept these items, please check with your local ethics officer before the event. The food and gifts are optional, so it may be possible to attend Google I/O even if you cannot accept any giveaways.</li>
              <li>The City of San Francisco requires us to collect information regarding where attendees are going to stay during Google I/O. If you are unable to provide this information before the event, you will be required to do so during conference check-in. While this information is typically shared with the City of San Francisco in anonymous aggregate form, we may be required to provide the first and last names of some attendees to allow for the City's post-event audit of particular hotels.</li>
              <li>Transportation will not be provided to Google I/O. Moscone West Convention Center is <a href="https://www.moscone.com/directions/index.shtml" target="_blank">accessible</a> via BART, MUNI Metro, and Caltrain.</li>
              <li>If you are not a resident of the USA, you should check with your local government to determine the required documents and arrangements needed for your travel to the USA. If you require a visa letter regarding your Google I/O attendance, you can send a request to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a>. Google will not be able to contact an embassy on your behalf.</li>
            </ul>

            <h5 id="academic"><i18n-msg msgid="acamedic-tickets">Academic tickets</i18-msg></h5>
            <p>We offer a limited number of tickets at a discounted rate of $300 for academia. To qualify, you need to be an active full-time student, professor, faculty or staff at a high school or higher education institution. This also includes those who graduated in 2015 prior to the event. When you check in at the conference, you'll need to provide a current school ID, transcript, credential, or other form of documentation which demonstrates that you are qualified to receive this special rate.</p>

            <ul>
              <li>Once purchased, general admission tickets can't be converted to academic tickets, and vice versa.</li>
              <li>If you buy an academic ticket and can't provide academic documentation when you arrive at Google I/O, you won't be admitted or offered a refund, nor will you be able to convert your ticket to general admission.</li>
            </ul>

            <h5 id="presstix"><i18n-msg msgid="press-tickets">Press tickets</i18-msg></h5>
            <p>We will be offering a limited number of press passes to qualified members of the media. To submit a request, please fill out this <a href="https://docs.google.com/forms/d/18ffieMtCfFTfD7Uo_bu5C4xeSGtwcXlBD5I0hEwZPvo/viewform" target="_blank">form</a>. If you have additional questions, please email <a href="mailto:googleiopress@google.com" target="_blank">googleiopress@google.com</a> for more information.</p>
            <p>Please note that we will have a limited number of press passes available and will be vetting requests. Filling out the form does not guarantee you a press pass.  Our team will contact you if we are able to accommodate your request.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="page__section page__section--copy">
      <div class="card__container">
        <div class="card">
          <div class="card-content">
            <h3>Attendance Details</h3>

            <p>All presentations at Google I/O will be in English. Attendance at all sessions, code labs and events for Google I/O is on a first-come, first-serve basis.</p>

            <h5 id="badges">Badges</h5>
            <p>Badges and conference materials will be available onsite at registration check-in.</p>
            <p>All attendees will be required to present a passport or other government-issued photo identification before they obtain an attendee badge and are admitted to Google I/O. You may not share, give, or otherwise provide your badge to anyone. Google I/O badges are not replaceable, so don't lose yours or you will not be readmitted to the conference.</p>
            <p>You must wear your Google I/O badge to gain admission to Google I/O and to visit the sessions, Developer Sandbox, and After Hours party. If requested by security, please display or provide additional identification. Google I/O badges include your name, company or organization (if provided), and photo.</p>

            <h5 id="afterhours"><i18n-msg msgid="afterhours">After Hours</i18-msg></h5>
            <p>All registered attendees are invited to the After Hours party. Conference credentials will be required for entry. Please join us for food, drinks, music, games, and more. Alcoholic beverages will be available for those 21 and over.</p>

            <h5>Event attire</h5>
            <p>Google I/O is a developers conference, so please be comfortable and casual. There is no enforced dress code.</p>

            <h5 id="a11y"><i18n-msg msgid="a11y-accomodations">Accessibility accommodations for attendees</i18-msg></h5>
            <p>We will be providing live real-time transcription (CART) for the keynote and some of our sessions. Caption text displayed on a large screen at the front of the room will be accessible to all attendees. We will also use the text to provide captions for YouTube videos of the sessions, which will be posted after the event. If you have other specific needs, please let us know during your registration or send an email to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a>.</p>
            <p>We will be happy to provide an ASL interpreter to accompany you in the sessions at Google I/O. We will do our best to find a technical translator that is familiar with the domain, but please keep in mind that the interpreter will probably not be able to meet with the speakers beforehand. Please let us know during registration if you need an ASL interpreter at Google I/O.</p>
            <p>Moscone West is fully ADA certified. If you have questions regarding specific accommodations please let us know during registration or send an email to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a>.</p>

            <h5>Anti-harassment policy</h5>
            <p>Google is dedicated to providing a harassment-free event experience for everyone, regardless of gender, sexual orientation, disability, gender identity, age, race, national identity, or religion. We do not tolerate harassment of event participants in any form. All attendees of Google I/O must abide by our <a href="https://www.google.com/events/policy/anti-harassmentpolicy.html" target="_blank">anti-harassment policy</a>.</p>

            <h5 id="conduct"><i18n-msg msgid="conduct-policy">Conduct policy</i18-msg></h5>
            <p>Google reserves the right to refuse admittance to, or remove any person from Google I/O (including future Google I/O events) at any time in its sole discretion. This includes but is not limited to attendees behaving in a disorderly manner or failing to comply with the terms and conditions herein.</p>

            <h5>Smoking</h5>
            <p>Smoking is not permitted anywhere inside the Moscone West Convention Center. Smoking is only permitted in designated outdoor smoking areas.</p>

            <h5>No soliciting</h5>
            <p>No solicitation or selling of items or services is allowed at Google I/O. Any attendee conducting these activities may be removed from the conference.</p>

            <h5 id="childcare"><i18n-msg msgid="child-care">Child Care</i18-msg></h5>
            <p>We will offer group child care to conference attendees at no charge. Children aged 0 months through 8 years are eligible. Please note that we have limited availability and may not be able to accommodate all requests.</p>
          </div>
        </div>
      </div>
    </section>

  </div>

  <script>
  (function() {

    // Page-specific JS that runs when this page is loaded for the first time.
    function initPage() {
      var page = IOWA.Elements.Template.pages[IOWA.Elements.Template.selectedPage];

      if (page.hasBeenLoaded) {
        return;
      }

      IOWA.Elements.Template.scrollToFaq = function(e, detail, sender) {
        e.preventDefault();

        var dest = IOWA.Elements.Main.querySelector(sender.getAttribute('href'));
        if (dest) {
          IOWA.Util.smoothScroll(dest, 400);
        }
      };

      page.hasBeenLoaded = true;
    }

    // IE will be "loading" at this point. Other browsers will already be "complete".
    if (document.readyState !== 'loading') {
      initPage();
    }

    // Necessary for IE's lack of native <template>
    // https://github.com/GoogleChrome/ioweb2015/issues/599
    window._initPage = initPage;

  })();
  </script>
{% end %}
