{% define "title" %}"FAQ"{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="faq">FAQ</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="slide-up">
    <section class="page__section">
      <div class="card__container">
        <div class="card">
          <div class="card-content">
            <h2><i18n-msg msgid="iomonth">Smarch</i18-msg> xx, 2015</h2>
          </div>
          <div class="card-content">
            <div layout horizontal>
              <core-icon icon="schedule" aria-hidden="true"></core-icon>
              <div class="schedule-rows">
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>9AM - 6PM</span>
                  <span auto-vertical flex two><i18n-msg msgid="badge-pickup">Badge pick-up</i18-msg></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page__section">
      <div class="card__container">
        <div class="card">
          <div class="card-content">
            <h2><i18n-msg msgid="iomonth">Smarch</i18-msg> xx, 2015</h2>
          </div>
          <div class="card-content">
            <div layout horizontal>
              <core-icon icon="schedule" aria-hidden="true"></core-icon>
              <div class="schedule-rows">
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>8AM - 9AM</span>
                  <span auto-vertical flex two><i18n-msg msgid="badge-pickup">Badge pick-up</i18-msg></span>
                </div>
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>9AM - 5PM</span>
                  <span auto-vertical flex two><i18n-msg msgid="sessions-sandbox">Sessions &amp; Sandbox</i18-msg></span>
                </div>
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>11:30AM - 1:30PM</span>
                  <span auto-vertical flex two><i18n-msg msgid="lunch">Lunch</i18-msg></span>
                </div>
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>6:30PM - 10PM</span>
                  <span auto-vertical flex two><i18n-msg msgid="afterhours">After Hours</i18-msg></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page__section">
      <div class="card__container">
        <div class="card">
          <div class="card-content">
            <h2><i18n-msg msgid="iomonth">Smarch</i18-msg> xx, 2015</h2>
          </div>
          <div class="card-content">
            <div layout horizontal>
              <core-icon icon="schedule" aria-hidden="true"></core-icon>
              <div class="schedule-rows">
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>9AM - 5PM</span>
                  <span auto-vertical flex two><i18n-msg msgid="sessions-sandbox">Sessions &amp; Sandbox</i18-msg></span>
                </div>
                <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time" auto-vertical flex>11:30AM - 1:30PM</span>
                  <span auto-vertical flex two><i18n-msg msgid="lunch">Lunch</i18-msg></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
{% end %}
