{% define "title" %}FAQ{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="faq">FAQ</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="active">
    <section class="page__section page__section--copy slide-up">
      <div class="card__container">
        <div class="card js-experiment-visualizer">
          <div class="card-content card-content--top"
               layout horizontal vertical$="{{isPhoneSize}}" justified>
            <div>
              <h3><i18n-msg msgid="general">General</i18-msg></h3>
              <ul>
                <!-- <li><a href="#dateloc" on-tap="{{scrollToFaq}}" data-transition="smooth-scroll"><i18n-msg msgid="faq-dates-loc">2015 dates &amp; location</i18-msg></a></li> -->
                <!-- <li><a href="#badgepickup" on-tap="{{scrollToFaq}}" data-transition="smooth-scroll"><i18n-msg msgid="badge-pickup">Badge pick-up</i18-msg></a></li> -->
                <li><a href="#informed" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="stay-informed">Stay informed</i18-msg></a></li>
                <li><a href="#formats" on-tap="scrollToFaq" data-transition="smooth-scroll">Content formats</a></li>
                <li><a href="#livestream" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="livestream">Live stream &amp; recordings</i18-msg></a></li>
                <li><a href="#widget" on-tap="scrollToFaq" data-transition="smooth-scroll">I/O Live embed widget</a></li>
                <li><a href="#extended" on-tap="scrollToFaq" data-transition="smooth-scroll">I/O Extended</a></li>
                <li><a href="#iowa" on-tap="scrollToFaq" data-transition="smooth-scroll">I/O website</a></li>
              </ul>
            </div>
            <div>
              <h3><i18n-msg msgid="registration">Registration</i18-msg></h3>
              <ul>
                <!-- <li><a href="#registration" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="registration">Registration</i18-msg></a></li> -->
                <li><a href="#toc" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="toc">Terms &amp; Conditions</i18-msg></a></li>
                <li><a href="#academic" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="acamedic-tickets">Academic tickets</i18-msg></a></li>
                <li><a href="#presstix" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="press-tickets">Press tickets</i18-msg></a></li>
              </ul>
            </div>
            <div>
              <h3><i18n-msg msgid="attendance-details">Attendance Details</i18-msg></h3>
              <ul>
                <li><a href="#protips" on-tap="scrollToFaq" data-transition="smooth-scroll">Pro tips</a></li>
                <li><a href="#badges" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="badges">Badges &amp; badge pick-up</i18-msg></a></li>
                <li><a href="#afterhours" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="afterhours">After Hours</i18-msg></a></li>
                <li><a href="#a11y" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="a11y">Accessibility</i18-msg></a></li>
                <li><a href="#conduct" on-tap="scrollToFaq" data-transition="smooth-scroll"><i18n-msg msgid="conduct">Conduct</i18-msg></a></li>
                <!-- <li><a href="#childcare" on-tap="scrollToFaq"><i18n-msg msgid="child-care">Child Care</i18-msg></a></li> -->
                <li><a href="#attire" on-tap="scrollToFaq" data-transition="smooth-scroll">Event attire</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="slide-up-delay">

      <section class="page__section page__section--copy">
        <div class="card__container">
          <div class="card">
            <div class="card-content">
              <h3><i18n-msg msgid="general">General</i18-msg></h3>

              <h5 id="dateloc"><i18n-msg msgid="faq-dates-loc">2015 dates &amp; location</i18-msg></h5>
              <p>The 2015 conference will be held from May 28 – 29 at <a href="https://www.moscone.com/site/do/index" target="_blank">Moscone West Convention Center</a> in San Francisco.</p>

              <!-- <h5 id="badgepickup"><i18n-msg msgid="badge-pickup">Badge pick-up</i18-msg></h5>
              <p>To expedite the check-in process, we will begin badge pick-up on Wednesday, May 27. Make sure to bring your photo ID, as we'll need to verify it prior to assigning you your Google I/O badge. We're OK with government issued licenses, passports, and other forms of identification. If you don't have proper identification, you won't be able to receive a badge and will not be admitted into the conference. If you're an Academic attendee, please remember to bring proof of eligibility.</p> -->

              <h5 id="informed"><i18n-msg msgid="stay-informed">Stay informed</i18-msg></h5>
              <p>To stay up to date on the latest information on sessions, speakers, and activities, be sure to visit the <a href="./" data-ajax-link>Google I/O 2015 website</a>, the <a href="http://googledevelopers.blogspot.com/" target="_blank" data-track-link="faq-link-blog">Google Developers Blog</a>, and follow us on <a href="https://plus.google.com/+GoogleDevelopers" target="_blank" data-track-link="faq-link-gplus">Google+</a> and <a href="https://twitter.com/googledevs" target="_blank" data-track-link="faq-link-twitter">Twitter</a>. You can also follow and join the social conversation about Google I/O 2015 via the official <a href="https://www.google.com/?#q=%23io15" target="_blank" data-track-link="faq-hashtag-search">#io15</a> hashtag. In addition, we'll be emailing all registered attendees the latest information and check-in instructions prior to the conference.</p>

              <h5 id="formats">Content formats</h5>
              <p>Throughout the two days of the conference, in-person attendees will be able to participate by attending sessions, sandbox talks, code labs, app clinics, office hours and more.</p>

              <h5 id="livestream"><i18n-msg msgid="livestream">Live stream &amp; recordings</i18-msg></h5>
              <p>Even if you're not coming to Google I/O, you can still be part of the magic: watch the live stream of the keynote and sessions via I/O Live here on our website or, even better, attend an <a href="offsite#join" data-ajax-link data-track-link="faq-link-join-extended">I/O Extended event</a> in your area. If you can't watch live, you can find YouTube recordings of all sessions after the conference on our website.</p>

              <h5 id="widget">I/O Live embed widget</h5>
              <p>The I/O Live embed widget allows you to deliver I/O highlights and live announcements directly to your audience. You can choose to embed the complete I/O live video stream and/or the social feed from <a href="https://twitter.com/googledevs" target="_blank" data-track-link="faq-link-twitter">@GoogleDevs</a>. If you're interested in embedding the I/O Live widget on your website, access the <a href="widget" data-ajax-link>configuration tool</a>.</p>

              <h5 id="extended">I/O Extended</h5>
              <p><a href="offsite" data-ajax-link data-track-link="faq-link-extended">Google I/O Extended</a> are worldwide events hosted by local developers during I/O, live streaming the event and holding their own sessions including hackathons, code labs, demos, etc. If you're joining us as an I/O Extended host this year, here are the steps you should take to get started:</p>
              <ul>
                <li>Read through the <a href="//docs.google.com/presentation/d/1rUwLzz3-Hgcs9eu1uph4En1FUCcpTQspw-xpK4Kaoms/pub?start=true&loop=false&delayms=30000"
               data-track-link="faq-link-organizers-guide" target="_blank">Organizer Guide</a> to get tips and suggestions on how to host a successful event.</li>
                <li><a href="form" data-ajax-link data-track-link="faq-link-register-ioex">Register</a> your public event on the I/O website for increased visibility.</li>
                <li>Join the <a href="https://plus.google.com/communities/117237720017114370989" data-track-link="faq-link-organizers-gplus" target="_blank">I/O Extended 2015 Organizers Google+ Community</a> to exchange ideas with other hosts.</li>
                <li>Use the official <a href="https://www.google.com/?#q=%23io15extended" target="_blank" data-track-link="faq-ioex-hashtag-search">#io15extended</a> hashtag on all your social posts related to I/O Extended for easier discoverability.</li>
              </ul>
              <p>For questions about the I/O Extended program, contact us at <a href="mailto:io15extended@google.com" target="_blank">io15extended@google.com</a>.</p>

              <h5 id="iowa">I/O website</h5>
              <p>This page is more than a typical website. It's a fully-interactive, offline-enabled application. Here are some of the features you should know about:</p>
              <ul>
                <li><b>Sign in</b>: By signing into the site, you can create a customized I/O schedule. </li>
                <li><b>Push notifications</b>: You can choose to receive notifications when I/O is about to start, events added to My Schedule are about to start, and videos of sessions added to My Schedule are available. Note: Notifications are only supported in Chrome, on Android and desktop, and activated per device. To receive notifications on multiple devices, sign in on each device, enable notifications, and make sure you're online. All device notifications can be turned on/off at any time in the settings panel.</li>
                <li><b>Offline support</b>: By virtue of using the Service Worker API for caching, our site works fully offline, allowing you to browse it at your leisure. It will also load faster even while online. <a href="http://updates.html5rocks.com/2015/02/offline-first-with-sw-precache" data-track-link="faq-link-swpost" target="_blank">Read more</a>.</li>
                <li><b>Add to homescreen</b>: You can add our app to your mobile home screen, allowing you to launch it at any time with only 1 tap.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="page__section page__section--copy">
        <div class="card__container">
          <div class="card">
            <div class="card-content">
              <h3><i18n-msg msgid="registration">Registration</i18-msg></h3>

              <p><b>Note: Registration for Google I/O 2015 is now closed and tickets are sold out.</b></p>

              <h5>Cost</h5>
              <p>General Admission Ticket: $900</p>
              <p>Academic Admission Ticket: $300</p>

              <!-- <h5 id="registration"><i18n-msg msgid="registration">Registration</i18-msg></h5>
              <p>The window to submit a registration application will open at 9AM PDT on March 17, 2015 and stay open until 5PM PDT on March 19, 2015, so you'll have plenty of time to apply. We'll randomly select applicants from among all of the qualified applications once the window closes on March 19, 2015 and notify those selected via email. The order in which registration applications are received has no bearing on the final outcome.</p>
              <p>Here's what to expect during the registration application window:</p>
              <ul>
                <li>You will need to sign into <a href="https://accounts.google.com" target="_blank">Google</a> to begin the registration application.</li>
                <li>You will then complete the required registration fields.</li>
                <li>Once you've successfully completed the registration application, you will reach a confirmation screen and receive a confirmation email to confirm your application submission shortly thereafter.</li>
              </ul> -->

              <h5 id="toc"><i18n-msg msgid="toc">Terms &amp; Conditions</i18-msg></h5>
              <ul>
                <li>Each individual may  purchase only one ticket. Tickets for Google I/O are for the full two-day conference and no single-day tickets are available.</li>
                <li>Google I/O tickets must be used by the original registrant and are non-transferable.</li>
                <li>Tickets may not be sold, bartered, auctioned, or transferred in any way and doing so may result in Google rendering the ticket null and void without any responsibility to Google.</li>
                <li>At check-in, we will check your photo ID prior to assigning you your Google I/O badge. We're OK with government issued licenses, passports, and other forms of identification. If you do not have proper identification, you won't be able to receive a badge and will not be admitted into the conference.</li>
                <li>If you buy an academic ticket and can't provide academic documentation during check-in at Google I/O, you won't be admitted or offered a refund, nor will you be able to convert your ticket to general admission. Please be sure to bring a current school ID or other proof that you are qualified to receive this special rate when you check in at the conference.</li>
                <li>If you can't attend, you can request a refund. Send the refund request to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a> by May 1, 2015. Any refund requests made after that date will not be approved.</li>
                <li>Attendees must be at least 15 years of age to attend Google I/O. 15, 16 and  17 year old attendees do not require an adult to accompany them; however, they must provide a signed parental consent form in advance or during on-site check-in. In addition, Google will not offer chaperone tickets for 15, 16 and 17 year old attendees.</li>
                <li>Attendees are not permitted to bring guests to Google I/O or to the After Hours party. If you have someone traveling with you, they will need to register themselves and purchase an attendee ticket.</li>
                <li>Photographs and/or video taken at Google I/O by Google, or others on behalf of Google, may include your image or likeness. You agree that Google may use such photographs and/or video for any purpose without compensation to you.</li>
                <li>All information entered into the registration form must be correct and accurate to the best of your knowledge. All information must be entered in English. Some of the information entered (such as name, company, and the photo you upload), will be displayed on the attendee badge.</li>
                <li>Google I/O badges may contain NFC, BLE, or other RFID technologies to help us serve attendees and determine participation in various sessions and activities.</li>
                <li>All registered attendees agree to allow Google to contact them regarding their registration and attendance at the event. By purchasing a ticket, you agree to allow Google to communicate with you via email with information regarding the event.</li>
                <li>Attendance at Google I/O is not allowed by the following:
                  <ul>
                    <li>residents of embargoed countries,</li>
                    <li>individuals ordinarily resident in embargoed countries, or</li>
                    <li>individuals otherwise prohibited by applicable export controls and sanctions programs.</li>
                  </ul>
                </li>
              </ul>

              <h5>More registration details</h5>
              <ul>
                <li>Once registered, you will not be able to change the name on your registration. Please make sure to register using the name that matches the government-issued photo ID you will be presenting when you check in to the conference.</li>
                <li>Registration for Google I/O includes two full days of sessions, product demos, admission to the After Hours reception, and attendance at the keynote. We also provide complimentary breakfast, lunch, and snacks each day along with food and drinks at After Hours. In addition, attendees receive a conference badge and t-shirt and may be offered additional gifts. If you are not sure whether the professional guidelines for your school, university, organization, or agency would allow you to accept these items, please check with your local ethics officer before the event. The food and gifts are optional, so it may be possible to attend Google I/O even if you cannot accept any giveaways.</li>
                <li>The City of San Francisco requires us to collect information regarding where attendees are going to stay during Google I/O. If you are unable to provide this information before the event, you will be required to do so during conference check-in. While this information is typically shared with the City of San Francisco in anonymous aggregate form, we may be required to provide the first and last names of some attendees to allow for the City's post-event audit of particular hotels.</li>
                <li>Transportation will not be provided to Google I/O. Moscone West Convention Center is <a href="https://www.moscone.com/directions/index.shtml" target="_blank">accessible</a> via BART, MUNI Metro, and Caltrain.</li>
                <li>If you are not a resident of the USA, you should check with your local government to determine the required documents and arrangements needed for your travel to the USA. If you require a visa letter regarding your Google I/O attendance, you can send a request to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a>. Google will not be able to contact an embassy on your behalf.</li>
                <li>All I/O credentials are property of Google.</li>
              </ul>

              <h5 id="academic"><i18n-msg msgid="acamedic-tickets">Academic tickets</i18-msg></h5>
              <p>We offer a limited number of tickets at a discounted rate of $300 for academia. To qualify, you need to be an active full-time student, professor, faculty or staff at a high school or higher education institution. This also includes those who graduated in 2015 prior to the event. When you check in at the conference, you'll need to provide a current school ID, transcript, credential, or other form of documentation which demonstrates that you are qualified to receive this special rate.</p>

              <ul>
                <li>Once purchased, general admission tickets can't be converted to academic tickets, and vice versa.</li>
                <li>If you buy an academic ticket and can't provide academic documentation when you arrive at Google I/O, you won't be admitted or offered a refund, nor will you be able to convert your ticket to general admission.</li>
              </ul>

              <h5 id="presstix"><i18n-msg msgid="press-tickets">Press tickets</i18-msg></h5>
              <p>Unfortunately, we have a limited number of press passes, which have already been distributed. If you are a journalist and have questions about Google I/O, please email <a href="mailto:googleiopress@google.com" target="_blank">googleiopress@google.com</a>.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="page__section page__section--copy">
        <div class="card__container">
          <div class="card">
            <div class="card-content">
              <h3>Attendance Details</h3>

              <p>All presentations at Google I/O will be in English. Attendance at all sessions, code labs and events for Google I/O is on a first-come, first-served basis.</p>

              <h5 id="protips">Pro tips</h5>
              <p>If you're joining us in person at Moscone West, here are some useful tips to navigate your way through the conference:</p>
              <ul>
              <li><b>Badge pick-up</b>: This year, keynote admittance will be assigned on a first-come, first-served basis during badge pick-up beginning at 9:00AM on May 27. Seating is limited in the keynote space, so make sure to plan accordingly and pick-up your badge early.</li>
              <li><b>NFC wristbands</b>: Each attendee will receive a non-transferrable NFC enabled wristband this year. Together,  your wristband &amp; I/O badge will allow you access to Keynote, Sessions, Sandbox and the After Hours party. You must wear both at all times. </li>
              <li><b>Meals</b>: Attendees are offered complimentary breakfast, lunch and snacks on both days of the conference.</li>
              <li><b>Lost &amp; Found</b>: It'll be located at the Conference Help Desk on Level 1 during event hours. Any items left overnight will be turned over to the Conference Security Office, located in the Playground on Level 1.</li>
              <li><b>Bike parking &amp; bag/coat check</b>: Bike parking & bag/coat check: This is complimentary for attendees and will be available during event hours on Level 1.</li>
              <li><b>Keynote access</b>: The keynote doors will open at 8:30AM. We advise attendees to arrive at Moscone between 8:00AM and 8:30AM to make it inside on time. Your wristband color denotes your keynote access.</li>
              <li><b>After Hours</b>: This is a party you don't want to miss! Attendees are invited to enjoy food, drinks, music, games, and more during the evening of May 28 (location to be announced on May 28). The conference badge and NFC wristband are required for entrance. </li>
              </ul>

              <h5 id="badges">Badges &amp; badge pick-up</h5>
              <p>To expedite the check-in process, we will begin badge pick-up on Wednesday, May 27, on Level 1 of <a href="https://maps.google.com/maps?q=Moscone+West+Convention+Center&hl=en&ll=37.785029,-122.401557%E2%80%A6" target="_blank">Moscone West</a> (see full badge pick-up schedule <a href="schedule#agenda" data-ajax-link>here</a>). Make sure to bring your photo ID along with your registration confirmation email, as we'll need to verify it prior to assigning you your Google I/O badge. We're OK with government issued licenses, passports, and other forms of identification. If you don't have proper identification, you won't be able to receive a badge and will not be admitted into the conference. If you're an Academic attendee, please remember to bring proof of eligibility. <b>New this year</b>: Keynote admittance will be assigned on a first-come, first-served basis during badge pick-up. Seating is limited in the keynote space, so make sure to plan accordingly.</p>
              <p>You may not share, give, or otherwise provide your badge + wristband to anyone. Google I/O badges + wristbands are not replaceable, so don't lose yours or you will not be readmitted to the conference.</p>
              <p>You must wear your Google I/O badge + wristband to gain admission to Google I/O and to visit the sessions, developer sandbox, and After Hours party. If requested by security, please display or provide additional identification. Google I/O badges include your name, company or organization (if provided), and photo.</p>

              <h5 id="giveaways">Giveaways</h5>
              <p>Any devices received at I/O are intended for development use. If you receive a device made available to I/O attendees, you must pick it up in person and you are responsible for the device once you have picked it up. Device choices at I/O are final and you may not exchange for another option at a later date. Devices received at I/O may not be certified for use outside the U.S., may not be cleared to be exported from the U.S., and may create an obligation to pay duties or taxes, for which you are solely responsible. For warranty purposes, devices received at I/O are treated as if they had been purchased in the U.S. Some devices may not come with a warranty. Please refer to the device documentation for more info.</p>

              <h5 id="afterhours"><i18n-msg msgid="afterhours">After Hours</i18-msg></h5>
              <p>All registered attendees are invited to the After Hours party. Conference credentials will be required for entry. Please join us for food, drinks, music, games, and more. Alcoholic beverages will be available for those 21 and over.</p>

              <h5 id="attire">Event attire</h5>
              <p>Google I/O is a developers conference, so please be comfortable and casual. There is no enforced dress code.</p>

              <h5 id="a11y"><i18n-msg msgid="a11y-accomodations">Accessibility accommodations for attendees</i18-msg></h5>
              <p>We will be providing live real-time transcription (CART) for the keynote and sessions. Caption text displayed on a large screen at the front of the room will be accessible to all attendees. We will also use the text to provide captions for YouTube videos of the sessions, which will be posted after the event. If you have other specific needs, please let us know during your registration or send an email to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a>.</p>
              <p>We will be happy to provide an ASL interpreter to accompany you in the sessions at Google I/O. We will do our best to find a technical translator that is familiar with the domain, but please keep in mind that the interpreter will probably not be able to meet with the speakers beforehand. Please let us know during registration if you need an ASL interpreter at Google I/O.</p>
              <p>Moscone West is fully ADA certified. If you have questions regarding specific accommodations please let us know during registration or send an email to <a href="mailto:googleio2015@google.com" target="_blank">googleio2015@google.com</a>.</p>

              <h5>Anti-harassment policy</h5>
              <p>Google is dedicated to providing a harassment-free and inclusive conference experience for everyone regardless of gender identity and expression, sexual orientation, differing abilities, neurodiversity, physical appearance, body size, ethnicity, nationality, age, religion, or other protected category. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks. Google takes these violations of our policy seriously and will respond appropriately. All attendees of Google I/O must abide by our <a href="https://www.google.com/events/policy/anti-harassmentpolicy.html" target="_blank">anti-harassment policy</a>.</p>

              <h5 id="conduct"><i18n-msg msgid="conduct-policy">Conduct policy</i18-msg></h5>
              <p>Google reserves the right to refuse admittance to, or remove any person from Google I/O (including future Google I/O events) at any time in its sole discretion. This includes but is not limited to attendees behaving in a disorderly manner or failing to comply with the terms and conditions herein.</p>

              <h5 id="communitytips">Community Tips for I/O</h5>
              <p>Be excellent to each other. We want the event to be an excellent experience for everyone regardless of gender identity and expression, sexual orientation, differing abilities, neurodiversity, physical appearance, body size, ethnicity, nationality, age or religion, or other protected category. Treat everyone with respect. Participate while acknowledging that everyone deserves to be here -- and each of us has the right to enjoy our experience without fear of harassment, discrimination, or condescension, whether blatant or via micro-aggressions. Jokes shouldn't demean others. Consider what you are saying and how it would feel if it were said to or about you.</p>
              <p>Speak up if you see or hear something. You are empowered to politely engage when you or others are disrespected. Also, assume positive intent. The person making you feel uncomfortable may not be aware of what they are doing, and politely bringing their behavior to their attention is encouraged. If a participant engages in harassing or uncomfortable behavior, the conference organizers may take any action they deem appropriate, including warning or expelling the offender from the conference with no refund. If you are being harassed or feel uncomfortable, notice that someone else is being harassed, or have any other concerns, please contact a member of the conference staff immediately.</p>
              <p>Practice saying "Yes and" to each other. Build on each other's ideas. We all benefit when we create together.</p>

              <h5>Smoking</h5>
              <p>Smoking is not permitted anywhere inside the Moscone West Convention Center. Smoking is only permitted in designated outdoor smoking areas.</p>

              <h5>No soliciting</h5>
              <p>No solicitation or selling of items or services is allowed at Google I/O. Any attendee conducting these activities may be removed from the conference.</p>

              <h5 id="childcare"><i18n-msg msgid="child-care">Child Care</i18-msg></h5>
              <p>We will offer group child care to conference attendees at no charge. Children aged 0 months through 8 years are eligible. Please note that we have limited availability and may not be able to accommodate all requests.</p>

              <h5 id="motherroom">Mothers' rooms</h5>
              <p>There will be two mothers' rooms open on May 28 from 7:00 AM to 5:30PM and May 29 from 8:00AM to 5:30PM. Sign up sheets will be available on the first floor of Moscone Center and usage is first come, first served.</p>

            </div>
          </div>
        </div>
      </section>

    </div>
  </div>


  <script>
  (function() {

    // Page-specific JS that runs when this page is loaded for the first time.
    function initPage() {
      var page = IOWA.Elements.Template.pages['faq'];

      if (page.hasBeenLoaded) {
        return;
      }

      IOWA.Elements.Template.scrollToFaq = function(e, detail) {
        e.preventDefault();

        var anchor = IOWA.Util.getEventSender(e, 'a');

        var dest = IOWA.Elements.Main.querySelector(anchor.getAttribute('href'));
        if (dest) {
          IOWA.Util.smoothScroll(dest, 400);
        }
      };

      page.hasBeenLoaded = true;
    }

    // IE will be "loading" at this point. Other browsers will already be "complete".
    if (document.readyState !== 'loading') {
      initPage();
    }

    // Necessary for IE's lack of native <template>
    // https://github.com/GoogleChrome/ioweb2015/issues/599
    window._initPage = initPage;

  })();
  </script>
{% end %}
