{% define "title" %}2015 I/O Extended event{% end %}

{% define "mastheadBgClass" %}bg-dark-grey{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="submitevent">Register your 2015 I/O Extended event</i18n-msg></h1>
{% end %}

{% define "content" %}
<div class="active">
  <section class="page__section page__section--copy card__container card__container--top slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h3 class="card__title"><i18n-msg msgid="howitworks">How it works</i18n-msg></h3>
        <div>This page will help you fill out the I/O Extended registration form by pre-populating it with your event information.</div>
      </div>
    </div>
  </section>

  <div class="slide-up-delay">

    <section class="page__section page__section--copy">
      <div class="card__container">
        <div class="card js-experiment-visualizer">
          <div class="card-content">
            <h3>Steps to register your Extended event</h3>
            <ol>
              <li>Create a Google+ Event for your 2015 I/O Extended event. To do so, go to <a href="https://plus.google.com/events" target="_blank">https://plus.google.com/events</a> and click "Create Event".</li>
              <li>In the form below, search for the address of your event and select the result that best matches your location from the dropdown.</li>
              <li>Visually confirm the pin is at your event location. If it's not correct, adjust the marker by dragging it to the correct location on the map. If Google Maps cannot find your location, double click the map and move the pin to the correct location.</li>
              <li>Once you are done, click "Go to the registration form". We'll open the I/O Extended registration form with your location information pre-populated.</li>
              <li>Finish filling out the I/O Extended registration form. Agree to the Terms &amp; Conditions at the bottom and click "Submit".</li>
            </ol>
            <p>You're all done! Your event will be featured on the 2015 I/O Extended map on the I/O Website soon.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="page__section page__section--copy">
      <div class="card__container">
        <div class="card js-experiment-visualizer">
          <div class="card-content">
            <h3 class="card__title">First, tell us where you event is</h3>
            <div>
              <template is="dom-if" if="[[pageTransitionDone]]">
                <io-extended-form></io-extended-form>
              </template>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
{% end %}
