{% define "title" %}"Google I/O 2015"{% end %}

{% define "mastheadBgClass" %}bg-medium-grey{% end %}

{% define "masthead" %}
  <h2 class="masthead-title"><i18n-msg msgid="iodate">Smarch xx - xx</i18n-msg>, 2015</h2>
  <h5 class="masthead-subtitle">Moscone Center West,<br>San Francisco, CA</h5>
{% end %}

{% define "content" %}
  <core-toolbar class="navbar__overlay navbar__overlay--video" fit>
    <paper-icon-button icon="arrow-back" on-tap="{{closeVideoCard}}" aria-label="Close video"></paper-icon-button>
    <span flex><i18n-msg msgid="watch-recap-video">Watch the 2014 I/O Recap Video</i18n-msg></span>
  </core-toolbar>

  <div class="card__container slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h2><i18n-msg msgid="io-description">Google I/O is for developers—the creative coders who are building what's next. Together we'll explore the latest in tech, mobile &amp; beyond.</i18n-msg></h2>
      </div>
      <div class="card-content link-spacing">
        <a href="about" data-ajax-link data-anim-card
           data-track-link="home-learn-more-about-io">
            <i18n-msg msgid="learnmore">Learn more about I/O</i18n-msg>
        </a>
        <a href="about#photos" data-ajax-link data-anim-card
           data-track-link="home-io-in-photos">
          <i18n-msg msgid="io-in-photos">I/O in photos</i18n-msg>
        </a>
      </div>
      <div class="ripple">
        <div class="ripple__content"></div>
      </div>
    </div>
  </div>

  <div class="slide-up-delay">
    <section class="home-photo page__section js-experiment-instrument js-experiment-instrument--no-bottom-margin"></section>

    <section id="registration" class="page__section js-experiment-instrument js-experiment-instrument--no-top-margin bg-cyan">
      <h2><i18n-msg msgid="registration-opens">Registration begins</i18n-msg><br>March 10 at 9AM PST</h2>
      <!-- <paper-button class="registration__setreminder" hidden?="{{isPhoneSize}}"
          data-track-link="home-set-reminder">
        <core-icon icon="io:notifications-none"></core-icon> <i18n-msg msgid="setreminder">Set a Reminder</i18n-msg>
      </paper-button> -->

      <div class="io-countdown" layout vertical center>
        <a href="registration" data-ajax-link>
          <countdown-timer bgcolor="#00BCD4"
                           date="Mar 10 2015 09:00:00 GMT-0700 (PDT)"
                           dateadjustment="5" easeintime="490" waittime="100"
                           easeouttime="390" thresholdInformation="{{thresholdInformation}}">
          </countdown-timer>
        </a>

        <template if="{{ thresholdInformation.thresholdDays }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="daysuntilreg">Days until registration begins</i18n-msg>
          </h4>
        </template>

        <template if="{{ thresholdInformation.thresholdHours }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="hoursuntilreg">Hours until registration begins</i18n-msg>
          </h4>
        </template>

        <template if="{{ thresholdInformation.thresholdMinutes }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="minutesuntilreg">Minutes until registration begins</i18n-msg>
          </h4>
        </template>

        <template if="{{ thresholdInformation.thresholdSeconds }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="secondsuntilreg">Seconds until registration begins</i18n-msg>
          </h4>
        </template>
      </div>

    </section>

    <div class="registration__card card__container sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
      <!-- <template if="{{isPhoneSize}}">
        <div class="card js-experiment-visualizer" auto-vertical flex>
          <div class="card-content">
            <a href="#"><core-icon icon="io:notifications-none"></core-icon> <i18n-msg msgid="setreminder">Set a Reminder</i18n-msg></a>
          </div>
        </div>
      </template> -->
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content hide-on-mobile">
          <h3><i18n-msg msgid="io-description-card">I/O is two days of hands-on interaction with the latest technologies, inspirational talks and a few surprises in between.</i18n-msg></h3>
        </div>
        <div class="card-content">
          <a href="schedule" data-ajax-link data-track-link="home-check-agenda"><core-icon icon="event" aria-hidden="true"></core-icon> <i18n-msg msgid="registration-agenda">Check the agenda</i18n-msg></a>
        </div>
      </div>
      <div class="card js-experiment-visualizer" layout vertical auto-vertical flex on-tap="{{playVideo}}" data-track-link="home-watch-2014-recap-video">
        <div flex class="card__photo card__photo--recap"></div>
        <div class="card-content">
          <img src="images/play-video-button.png" class="play__button" title="Play video" alt="Play video">
          <span class="anchor-like"><i18n-msg msgid="watch-recap-video">Watch the 2014 I/O Recap Video</i18n-msg></span>
        </div>
      </div>
    </div>

    <section class="page__section page__section--attend js-experiment-instrument bg-dark-grey">
      <h2>
        <i18n-msg msgid="attend-from">Attend I/O from</i18n-msg>
        <name-cycler items="['Kyoto', 'Chiang Mai', 'Calgary', 'Detroit', 'Porto', 'Nice', 'Melbourne', 'Kano', 'Durban', 'Porto Alegre']"></name-cycler>
        <br>
        <i18n-msg msgid="attend-wherever">or wherever you may be</i18n-msg>
      </h2>
      <div class="attend__globe">

      </div>
    </section>

    <div class="card__container">
      <div class="card js-experiment-visualizer">
        <div class="card-content">
          <h2><i18n-msg msgid="io-extended-invitation">If you aren't able to join us for I/O in person this year, you can still make an event out of it. Host or find an I/O Extended event near you and watch the live stream in the company of other developers.</i18n-msg></h2>
        </div>
        <div class="card-content">
          <a href="offsite" data-ajax-link data-track-link="home-join-from-your-location">
            <i18n-msg msgid="join-from-offsite">Join from your location<i18n-msg>
          </a>
        </div>
      </div>
    </div>

    <section id="join" class="page__section js-experiment-instrument js-experiment-instrument--no-bottom-margin bg-light-grey">
      <h2><i18n-msg msgid="join-convo">Join the conversation now at #io15</i18n-msg></h2>
      <div class="join__social" layout vertical end hidden?="{{isPhoneSize}}">
        <a href="https://plus.google.com/+GoogleDevelopers" data-track-link="home-social-plus-google-developers">
          +googledevelopers<core-icon icon="io:post-gplus"></core-icon>
        </a>
        <a href="https://twitter.com/googledevs" data-track-link="home-social-twitter-google-devs">
          @googledevs<core-icon icon="io:post-twitter"></core-icon>
        </a>
      </div>
      <div class="io__hash" aria-label="I/O hash tag"></div>
      <div class="sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
        <div class="social-post">
          <header>
            <a href="https://twitter.com/googledevs">@googledevs</a>
            <div>3hrs ago</div>
          </header>
          <div>Find relief for your bloated game woes in the recent Game On! DevByte on WebP from @duhroach http://goo.gl/0Paa9V</div>
        </div>
        <div class="social-post">
          <header>
            <a href="https://twitter.com/googledevs">@googledevs</a>
            <div>3hrs ago</div>
          </header>
          <div>Find relief for your bloated game woes in the recent Game On! DevByte on WebP from @duhroach http://goo.gl/0Paa9V</div>
        </div>
        <div class="social-post">
          <header>
            <a href="https://twitter.com/googledevs">@googledevs</a>
            <div>3hrs ago</div>
          </header>
          <div>Find relief for your bloated game woes in the recent Game On! DevByte on WebP from @duhroach http://goo.gl/0Paa9V</div>
        </div>
      </div>
    </section>
  </div>

  <template if="{{fullscreenVideoActive}}">
    <div class="fullvideo__container" fit hidden>
      <img src="images/home/recap-500@2x.jpg" class="fullvideo_thumbnail" alt="Watch the I/O Recap Video" fit>
      <google-youtube videoid="ksvdvCDO7pA" chromeless height="100%" width="100%" fit autoplay="1"></google-youtube>
    </div>
  </template>
{% end %}
