{% define "title" %}Google I/O 2015{% end %}

{% define "mastheadBgClass" %}bg-medium-grey{% end %}

{% define "masthead" %}
  <h2 class="masthead-title"><i18n-msg msgid="iodate">May 28 - 29</i18n-msg>, 2015</h2>
  <h4 class="masthead-subtitle">Moscone Center West,<br>San Francisco, CA</h4>
{% end %}

{% define "content" %}
  <core-toolbar class="navbar__overlay navbar__overlay--video" aria-hidden="{{!fullscreenVideoActive}}" fit>
    <paper-icon-button icon="arrow-back" on-tap="{{closeVideoCard}}" aria-label="Close video"></paper-icon-button>
    <span flex><i18n-msg msgid="watch-recap-video">Watch the 2014 I/O Recap Video</i18n-msg></span>
  </core-toolbar>

  <div class="card__container card__container--top slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h3><i18n-msg msgid="io-description">Google I/O is for developers—the creative coders who are building what's next. Together we'll explore the latest in tech, mobile &amp; beyond.</i18n-msg></h3>
      </div>
      <div class="card-content link-spacing">
        <a href="about" data-ajax-link data-anim-card
           data-track-link="home-learn-more-about-io">
            <i18n-msg msgid="learnmore">Learn more about I/O</i18n-msg>
        </a>
        <a href="about#photos" data-ajax-link data-anim-card
           data-track-link="home-io-in-photos">
          <i18n-msg msgid="io-in-photos">I/O in photos</i18n-msg>
        </a>
      </div>
      <div class="ripple">
        <div class="ripple__content"></div>
      </div>
    </div>
  </div>

  <div class="slide-up-delay">
    <section class="home-photo page__section js-experiment-instrument js-experiment-instrument--no-bottom-margin"></section>

    <section id="registration" class="page__section js-experiment-instrument js-experiment-instrument--no-top-margin bg-cyan">
      <template if="{{!countdownEnded}}">
        <h2 tabindex="0">Registration is open until<br>March 19 at 5:00 PM PDT</h2>
      </template>
      <template if="{{countdownEnded}}">
        <h2 tabindex="0">Registration has ended</h2>
      </template>

      <!-- <paper-button class="registration__setreminder" hidden?="{{isPhoneSize}}"
          data-track-link="home-set-reminder">
        <core-icon icon="io:notifications-none"></core-icon> <i18n-msg msgid="setreminder">Set a Reminder</i18n-msg>
      </paper-button> -->

      <div class="io-countdown" layout vertical center>
        <countdown-timer bgcolor="#00BCD4"
                         date="Mar 19 2015 17:00:00 GMT-0700 (PDT)"
                         dateadjustment="5" easeintime="490" waittime="100"
                         easeouttime="390"
                         thresholdInformation="{{thresholdInformation}}"
                         on-timerthreshold="{{onCountdownTimerThreshold}}"
                         ended="{{countdownEnded}}">
        </countdown-timer>

        <template if="{{thresholdInformation.thresholdDays}}">
          <h4 class="countdown-label"><a href="registration" data-ajax-link>Days until Registration ends</a></h4>
        </template>

        <template if="{{thresholdInformation.thresholdHours}}">
          <h4 class="countdown-label"><a href="registration" data-ajax-link>Hours until Registration ends</a></h4>
        </template>

        <template if="{{thresholdInformation.thresholdMinutes}}">
          <h4 class="countdown-label"><a href="registration" data-ajax-link>Minutes until Registration ends</a></h4>
        </template>

        <template if="{{thresholdInformation.thresholdSeconds}}">
          <h4 class="countdown-label"><a href="registration" data-ajax-link>Seconds until Registration ends</a></h4>
        </template>

        <template if="{{countdownEnded}}">
          <h4 class="countdown-label"><a href="registration" data-ajax-link>Registration has ended</a></h4>
        </template>

      </div>

    </section>

    <div class="registration__card card__container sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
      <!-- <template if="{{isPhoneSize}}">
        <div class="card js-experiment-visualizer" auto-vertical flex>
          <div class="card-content">
            <a href="#"><core-icon icon="io:notifications-none"></core-icon> <i18n-msg msgid="setreminder">Set a Reminder</i18n-msg></a>
          </div>
        </div>
      </template> -->
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content hide-on-mobile">
          <h3><i18n-msg msgid="io-description-card">I/O is two days of hands-on interaction with the latest technologies, inspirational talks and a few surprises in between.</i18n-msg></h3>
        </div>
        <div class="card-content">
          <a href="schedule" data-ajax-link data-track-link="home-check-agenda"><core-icon icon="event" aria-hidden="true"></core-icon> <i18n-msg msgid="registration-agenda">Check the agenda</i18n-msg></a>
        </div>
      </div>
      <div class="card js-experiment-visualizer" layout vertical auto-vertical flex on-tap="{{playVideo}}" data-track-link="home-watch-2014-recap-video">
        <div flex class="card__photo card__photo--recap"></div>
        <div class="card-content">
          <img src="images/play-video-button.png" class="play__button play__button--card" title="Play video" alt="Play video">
          <span class="anchor-like" role="link" tabindex="0"><i18n-msg msgid="watch-recap-video">Watch the 2014 I/O Recap Video</i18n-msg></span>
        </div>
      </div>
    </div>

    <section class="page__section page__section--attend js-experiment-instrument bg-dark-grey {{ {'no-webgl': !webglSupported} | tokenList }}">
      <h2>
        <i18n-msg msgid="attend-from">Attend I/O from</i18n-msg>
        <name-cycler items="{{cycleLocations}}"
                     selectedCity="{{selectedCity}}"
                     auto?="{{homeGlobeVisible}}"
                     on-core-select="{{onGlobeLocationUpdate}}"></name-cycler>
        <br>
        <i18n-msg msgid="attend-wherever">or wherever you may be</i18n-msg>
      </h2>
      <div class="attend__globe {{ {show: homeGlobeVisible} | tokenList }}">
        <webgl-globe location="{{cycleLocations[selectedCity]}}"
                     locationTarget="{'lat': 36.5, 'lng': 0}"
                     fov="0.3927"
                     offsetY="-0.625"
                     transitionDuration="3000"
                     scrollTarget="{{ScrollContainer}}"
                     scrollTriggered="{{homeGlobeVisible}}"
                     noInit?="{{!pageTransitionDone}}"
                     noDraw?="{{mode === 'active'}}"
                     on-location-transitionend="{{onArrivedAtGlobePin}}"
                     webglSupported="{{webglSupported}}"></webgl-globe>
        <core-icon icon="io:place" class="globe-marker up"></core-icon>
      </div>
    </section>

    <div class="card__container">
      <div class="card card--force-compositing js-experiment-visualizer">
        <div class="card-content">
          <h3><i18n-msg msgid="io-extended-invitation">If you aren't able to join us for I/O in person this year, you can still make an event out of it. Host or find an I/O Extended event near you and watch the live stream in the company of other developers.</i18n-msg></h3>
        </div>
        <div class="card-content">
          <a href="offsite#join" data-ajax-link data-track-link="home-join-from-your-location">
            <i18n-msg msgid="join-from-offsite">Join from your location</i18n-msg>
          </a>
        </div>
      </div>
    </div>

    <section id="join" class="page__section js-experiment-instrument js-experiment-instrument--no-bottom-margin bg-light-grey">
      <h2><i18n-msg msgid="join-convo">Join the conversation now at #io15</i18n-msg></h2>
      <div class="join__social" layout vertical end hidden?="{{isPhoneSize}}">
        <a href="https://plus.google.com/+GoogleDevelopers" data-track-link="home-social-plus-google-developers" target="_blank">
          +googledevelopers<core-icon icon="io:post-gplus"></core-icon>
        </a>
        <a href="https://twitter.com/googledevs" data-track-link="home-social-twitter-google-devs" target="_blank">
          @googledevs<core-icon icon="io:post-twitter"></core-icon>
        </a>
      </div>

      <a href="//www.google.com/?#q=%23io15" target="_blank" data-track-link="about-hashtag-search">
        <div class="io__hash" aria-label="I/O hash tag"></div>
      </a>

      <template if="{{socialPosts.length >= 3}}">
        <div class="sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
          <template repeat="{{socialPost in socialPosts}}">
            <social-post kind="{{socialPost.kind}}"
                         author="{{socialPost.author}}"
                         url="{{socialPost.url}}"
                         text="{{socialPost.text}}"
                         when="{{socialPost.when}}">
            </social-post>
          </template>
        </div>
      </template>
    </section>
  </div>

  <template if="{{fullscreenVideoActive}}">
    <div class="fullvideo__container" fit hidden>
      <img src="images/home/recap-500@2x.jpg" class="fullvideo_thumbnail" alt="Watch the I/O Recap Video" fit>
      <google-youtube videoid="ksvdvCDO7pA" height="100%" width="100%" fit
                      autohide="1" controls="2" modestbranding="1" showinfo="0"
                      iv_load_policy="3" rel="0" autoplay="1"></google-youtube>
    </div>
  </template>

  <script>
  (function() {

    // Page-specific JS that runs when this page is loaded for the first time.
    function initPage() {
      var page = IOWA.Elements.Template.pages[IOWA.Elements.Template.selectedPage];
      var socialPostsEndpoint = 'api/social';
      var socialPostUpdateInterval = 30000; // 30 seconds
      var updateSocialPostsTimeout;

      if (page.hasBeenLoaded) {
        return;
      }

      function updateSocialPosts() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', socialPostsEndpoint);
        // The request will be intercepted by the service worker, which will use a network-first
        // policy to ensure that the service worker cache is initially ignored.
        // But if the device is offline, it will return the previously cached content.
        xhr.setRequestHeader('X-Cache-Only', 'false');

        xhr.onload = function() {
          if (this.status < 400) {
            processSocialPosts(JSON.parse(this.response));
            // Schedule another automatic update if we got a successful response back.
            updateSocialPostsTimeout = window.setTimeout(updateSocialPosts,
              socialPostUpdateInterval);
          }
        };

        xhr.send();
      }

      function processSocialPosts(socialPosts) {
        // Only show the first 3 posts.
        IOWA.Elements.Template.socialPosts = socialPosts.slice(0, 3);
      }

      page.load = function() {
        IOWA.Request.cacheThenNetwork(socialPostsEndpoint, processSocialPosts, processSocialPosts);
        // Set a timeout to fetch new posts after 30 seconds.
        updateSocialPostsTimeout = window.setTimeout(updateSocialPosts, socialPostUpdateInterval);

        // Reset template variables for when revisiting the page.
        IOWA.Elements.Template.homeGlobeVisible = false;
        IOWA.Elements.Template.selectedCity = null;
        IOWA.Elements.Template.fullscreenVideoActive = false;
        IOWA.Elements.Template.webglSupported = true;
      };

      page.unload = function() {
        if (updateSocialPostsTimeout) {
          window.clearTimeout(updateSocialPostsTimeout);
          updateSocialPostsTimeout = null;
        }
      };

      IOWA.Elements.Template.onGlobeLocationUpdate = function(e, detail, sender) {
        e.stopPropagation();
        if (detail.isSelected) {
          IOWA.Elements.Main.querySelector('.globe-marker').classList.add('up');
        }
      };

      IOWA.Elements.Template.onArrivedAtGlobePin = function(e, detail, sender) {
        e.stopPropagation();
        IOWA.Elements.Main.querySelector('.globe-marker').classList.remove('up');
      };

      page.load(); // Run load callback on page load.
      page.hasBeenLoaded = true;
    }

    // IE will be "loading" at this point. Other browsers will already be "complete".
    if (document.readyState !== 'loading') {
      initPage();
    }

    // Necessary for IE's lack of native <template>
    // https://github.com/GoogleChrome/ioweb2015/issues/599
    window._initPage = initPage;

  })();
  </script>
{% end %}
