{% define "head" %}
  <h2 class="masthead-title">Smarch xx - xx</h2>
  <h5 class="masthead-subtitle">Moscone Center West,<br>San Francisco</h5>
{% end %}

{% define "main" %}
  <section class="card">
    <div class="card-content">
      <h2>
        Google I/O brings together best-in-class developers to meet on a global stage. Join us to explore emerging technology for mobile and beyond.
      </h2>
    </div>
    <div class="card-content">
      <a href="#">Learn more about I/O</a>
    </div>
  </section>

  <section class="home-photo"></section>
  <io-toast id="toast"></io-toast>
{% end %}

{% define "footer" %}
  <a href="#navbar" class="footer-backtotop">Back to the top <core-icon icon="hardware:keyboard-arrow-up"></core-icon></a>
  <nav flex horizontal layout end justified>
    <span><a href="#">FAQ</a></span>
    <span><a href="#">Google Developers</a></span>
    <span><a href="#">I/O Community</a></span>
    <span><a href="https://www.google.com/intl/en/policies/terms/">Privacy</a> &amp; <a href="https://www.google.com/intl/en/policies/terms/">Terms</a></span>
  </nav>
{% end %}
