<template id="template-{% .Slug %}-masthead"
    class="js-ajax-template js-ajax-{% .Slug %}"
    data-ajax-target-template="template-masthead-container">
  {% template "masthead" .%}
</template>

<template id="template-{% .Slug %}-content"
    class="js-ajax-template js-ajax-{% .Slug %}"
    data-ajax-target-template="template-content-container">
  {% template "content" .%}
</template>

<script>
  if (!IOWA.Elements.Template.pages[{% .Slug %}]) {
    IOWA.Elements.Template.pages[{% .Slug %}] = {};
  }
  IOWA.Elements.Template.pages[{% .Slug %}].title = "{% template "title" .%}";
</script>

