{% define "title" %}"Attend Offsite"{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="attend-offsite">Attend Offsite</i18n-msg></h1>
{% end %}

{% define "content" %}
  <core-toolbar class="navbar__overlay navbar__overlay--video" fit>
    <paper-icon-button icon="arrow-back" on-tap="{{closeVideoSection}}" aria-label="Close video"></paper-icon-button>
    <span flex><i18n-msg msgid="ioextendedwatch">Watch the 2014 I/O Extended recap video</i18n-msg></span>
  </core-toolbar>

  <div class="card__container slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h3 class="card__title"><i18n-msg msgid="livestream">Live stream</i18n-msg></h3>
        <div><i18n-msg msgid="watch-keynote-and-sessions">Watch the keynote and select sessions in real-time, from your laptop or mobile device.</i18n-msg></div>
      </div>
    </div>
  </div>
  <div class="slide-up-delay">
    <section class="card__photo--stage page__section js-experiment-instrument" layout vertical center-center>
      <div class="play__button__container" on-tap="{{openSectionVideo}}" data-track-link="offsite-watch-extended-recap-video">
        <h5><i18n-msg msgid="ioextendedwatch">Watch the 2014 I/O Extended recap video</i18n-msg></h5>
      </div>
      <template if="{{fullscreenVideoActive}}">
        <div class="fullvideo__container" fit>
         <google-youtube videoid="A-bjrru5bLU" height="100%" width="100%" fit
                         autohide="1" controls="2" modestbranding="1" showinfo="0"
                         iv_load_policy="3" rel="0" autoplay="1"></google-youtube>
        </div>
      </template>
    </section>

    <div class="card__container sidebyside" layout horizontal vertical?="{{isPhoneSize}}" relative>
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content">
          <h3 class="card__title"><i18n-msg msgid="ioextendevents">I/O Extended events</i18n-msg></h3>
          <h4><i18n-msg msgid="ioextendevents-details">I/O Extended events may include live streamed sessions, local developer demos, hackathons and more. These events are brought to you by our Google Developer Groups, Student Ambassadors, and local developers.</i18n-msg></h4>
        </div>
      </div>
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content">
          <h3 class="card__title"><i18n-msg msgid="hostioextend">Host an I/O Extended event</i18n-msg></h3>
          <h4>We've got you covered with all the information you need to bring I/O to your neighborhood.</h4>
        </div>
        <div class="card-content link-spacing">
          <a href="//www.google.com/events/io/shared/googleio2014-Extended-Guide.pdf"
             data-track-link="offsite-download-organizers-guide"><core-icon icon="file-download" aria-label="Download"></core-icon> <i18n-msg msgid="organizerguide">Organizer Guide</i18n-msg></a> <a href="//docs.google.com/forms/d/1rjMnxYvyGAmi3O4gfvYgqhEoolDSkeVdJY2w9MtVlmE/viewform"
             data-track-link="offsite-submit-event"><i18n-msg msgid="submitevent">Submit your event</i18n-msg></a>
        </div>
      </div>
    </div>

    <section class="page__section page__section--attend bg-dark-grey js-experiment-instrument">
      <h2>We're compiling a map of I/O Extended events in your area. Check back to find one close to you.</h2>
      <div class="action__links" layout vertical>
        <!-- <paper-button data-track-link="offsite-notify-me">
          <core-icon icon="io:notifications-none"></core-icon><i18n-msg msgid="notifyme">Notify me about 2015 events near me</i18n-msg>
        </paper-button> -->
        <paper-button data-track-link="offsite-view-2014-events">
          <core-icon icon="io:place"></core-icon><i18n-msg msgid="viewlastyear">View 2014 events</i18n-msg>
        </paper-button>
      </div>
      <div class="attend__globe">
        <template if="{{pageTransitionDone}}">
          <webgl-globe></webgl-globe>
        </template>
      </div>
    </section>
  </div>

  <script>
  (function() {

    function runVideoSectionAnimation(opt_reverse, opt_callback) {
      var topCard = IOWA.Elements.Main.querySelector('.card__container.slide-up');
      var bottomCard = IOWA.Elements.Main.querySelector('.card__photo--stage').nextElementSibling;

      var videoContainer = document.querySelector('.fullvideo__container');
      var video = videoContainer.querySelector('.fullvideo__container google-youtube');

      var button = IOWA.Elements.Main.querySelector('.play__button__container');
      var navOverlay = document.querySelector('.navbar__overlay--video');

      var ANIMATION_DURATION = 500;

      var animationOptions = {
        duration: ANIMATION_DURATION,
        fill: 'forwards',
        direction: opt_reverse ? 'reverse' : 'normal',
        easing: 'cubic-bezier(0.4,0,0.2,1)'
      };

      var cardAnimations = new AnimationGroup([
        new Animation(topCard, [
          {transform: 'translateY(0)', opacity: 1},
          {transform: 'translateY(-100px)', opacity: 0}
        ], animationOptions),
        new Animation(bottomCard, [
          {transform: 'translateY(0)', opacity: 1},
          {transform: 'translateY(100px)', opacity: 0}
        ], animationOptions),
        new Animation(navOverlay, [
          {transform: 'translateY(-100%)'},
          {transform: 'translateY(0)'}
        ], animationOptions),
        new Animation(button, [
          {opacity: 1},
          {opacity: 0}
        ], animationOptions)
      ]);

      var videoAnimation = new Animation(video, [
        {opacity: 0}, {opacity: 1}
      ], {
        duration: ANIMATION_DURATION,
        fill: 'forwards',
        easing: 'cubic-bezier(0.4,0,0.2,1)',
        direction: opt_reverse ? 'reverse' : 'normal'
      });

      if (opt_reverse) {
        // Fade out gallery and slide back in page sections at the same time.
        IOWA.PageAnimation.play(videoAnimation);
        IOWA.PageAnimation.play(cardAnimations, opt_callback);
      } else {
        // Slide out page sections, then fade in gallery.
        IOWA.PageAnimation.play(cardAnimations, function() {
          IOWA.PageAnimation.play(videoAnimation, opt_callback);
        });
      }
    }

    // Page-specific JS that runs when this page is loaded for the first time.
    function firstLoadSetup(page) {
      if (page.hasBeenLoaded) {
        return;
      }

      page.hasBeenLoaded = true;

      // IOWA.Elements.Template.addEventListener('page-transition-done', function(e) {
      //   IOWA.Elements.Template.fullscreenVideoActive = true;
      // });

      IOWA.Elements.Template.closeVideoSection = function(e, detail, sender) {
        runVideoSectionAnimation(true, function() {
          IOWA.Elements.Template.fullscreenVideoActive = false;
        });
      };

      IOWA.Elements.Template.openSectionVideo = function(e, detail, sender) {
        IOWA.Analytics.trackEvent('link', 'click', sender.getAttribute('data-track-link'));

        this.fullscreenVideoActive = true;
        // TODO, wait for iframe to load.

        // Wait 1 rAF for template to stamp.
        this.async(function() {
          IOWA.Util.smoothScroll(IOWA.Elements.Main.querySelector('.card__photo--stage'), 300, function() {
            runVideoSectionAnimation();
          });
        });
      };
    }

    var thisPage = IOWA.Elements.Template.pages[IOWA.Elements.Template.selectedPage];
    firstLoadSetup(thisPage);

  })();
  </script>
{% end %}
