{% define "meta" %}
  "title": "Attend Offsite",
  "mastheadBgClass": "bg-cyan"
{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="attend-offsite">Attend Offsite</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="card__container">
    <div class="card">
      <div class="card-content">
        <h2 class="card__title"><i18n-msg msgid="livestream">Live stream</i18n-msg></h2>
        <h3>Watch the keynote and selected sessions in real-time, from your laptop or mobile device.</h3>
      </div>
    </div>
  </div>

  <section class="card__photo--stage page__section"></section>

  <div class="card__container sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
    <div class="card" auto-vertical flex>
      <div class="card-content">
        <h3 class="card__title"><i18n-msg msgid="ioextendevents">I/O Extended events</i18n-msg></h3>
        <h4>I/O Extended includes anything from live streaming sessions, to local developer demos, to hackathons. These events are brought to you by our Google Developer Groups, Student Ambassadors, and local developers.</h4>
      </div>
    </div>
    <div class="card" auto-vertical flex>
      <div class="card-content">
        <h3 class="card__title"><i18n-msg msgid="hostioextend">Host an I/O Extended event</i18n-msg></h3>
        <h4>We've got you covered with all the information you need to bring I/O to your neighborhood.</h4>
      </div>
      <div class="card-content link-spacing">
        <a href="https://www.google.com/events/io/shared/googleio2014-Extended-Guide.pdf"><core-icon icon="file-download"></core-icon> <i18n-msg msgid="organizerguide">Organizer's Guide</i18n-msg></a> <a href="https://docs.google.com/a/google.com/forms/d/10xVuAdkEVQnK36WM4v-fmghWQYY97U3yYVVraabLDV0/viewform"><i18n-msg msgid="submitevent">Submit your event</i18n-msg></a>
      </div>
    </div>
  </div>

  <section class="page__section page__section--attend bg-dark-grey">
    <h2>We're compiling a map of I/O Extended events in your area. Check back to find one close to you.</h2>
    <div class="action__links" layout vertical>
      <paper-button>
        <core-icon icon="social:notifications-none"></core-icon><i18n-msg msgid="notifyme">Notify me about 2015 events near me</i18n-msg>
      </paper-button>
      <paper-button>
        <core-icon icon="maps:place"></core-icon><i18n-msg msgid="viewlastyear">View 2014 events</i18n-msg>
      </paper-button>
    </div>
    <div class="attend__globe">

    </div>
  </section>
{% end %}

