{% define "title" %}"Attend Offsite"{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="attend-offsite">Attend Offsite</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="card__container slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h2 class="card__title"><i18n-msg msgid="livestream">Live stream</i18n-msg></h2>
        <h3><i18n-msg msgid="watch-keynote-and-sessions">Watch the keynote and select sessions in real-time, from your laptop or mobile device.</i18n-msg></h3>
      </div>
    </div>
  </div>
  <div class="slide-up-delay">
    <section class="card__photo--stage page__section js-experiment-instrument" layout vertical center-center>
      <div class="play__button__container">
        <h4><i18n-msg msgid="ioextendedwatch">Watch the 2014 I/O Extended recap video</i18n-msg></h4>
      </div>
    </section>

    <div class="card__container sidebyside" layout horizontal vertical?="{{isPhoneSize}}">
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content">
          <h3 class="card__title"><i18n-msg msgid="ioextendevents">I/O Extended events</i18n-msg></h3>
          <h4><i18n-msg msgid="ioextendevents-details">I/O Extended events may include live streamed sessions, local developer demos, hackathons and more. These events are brought to you by our Google Developer Groups, Student Ambassadors, and local developers.</i18n-msg></h4>
        </div>
      </div>
      <div class="card js-experiment-visualizer" auto-vertical flex>
        <div class="card-content">
          <h3 class="card__title"><i18n-msg msgid="hostioextend">Host an I/O Extended event</i18n-msg></h3>
          <h4>We've got you covered with all the information you need to bring I/O to your neighborhood.</h4>
        </div>
        <div class="card-content link-spacing">
          <a href="https://www.google.com/events/io/shared/googleio2014-Extended-Guide.pdf"
             data-track-link="offsite-download-organizers-guide"><core-icon icon="file-download" aria-label="Download"></core-icon> <i18n-msg msgid="organizerguide">Organizer Guide</i18n-msg></a> <a href="https://docs.google.com/forms/d/1rjMnxYvyGAmi3O4gfvYgqhEoolDSkeVdJY2w9MtVlmE/viewform"
             data-track-link="offsite-submit-event"><i18n-msg msgid="submitevent">Submit your event</i18n-msg></a>
        </div>
      </div>
    </div>

    <section class="page__section page__section--attend bg-dark-grey js-experiment-instrument">
      <h2>We're compiling a map of I/O Extended events in your area. Check back to find one close to you.</h2>
      <div class="action__links" layout vertical>
        <!-- <paper-button data-track-link="offsite-notify-me">
          <core-icon icon="io:notifications-none"></core-icon><i18n-msg msgid="notifyme">Notify me about 2015 events near me</i18n-msg>
        </paper-button> -->
        <paper-button data-track-link="offsite-view-2014-events">
          <core-icon icon="io:place"></core-icon><i18n-msg msgid="viewlastyear">View 2014 events</i18n-msg>
        </paper-button>
      </div>
      <div class="attend__globe">
        <webgl-globe></webgl-globe>
      </div>
    </section>
  </div>
{% end %}
