{% define "title" %}Attend Onsite{% end %}

{% define "mastheadBgClass" %}bg-dark-grey{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="attend-onsite">Attend Onsite</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="card__container card__container--top slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h3>Google I/O is Innovation in the Open. Connect face-to-face with developers and designers from around the world, check the latest product releases first hand, and chat directly with Googlers.</h3>
      </div>
    </div>
  </div>

  <div class="slide-up-delay">
    <section class="page__section onsite__pic js-experiment-instrument"></section>

    <section id="traveldetails" class="page__section bg-light-grey js-experiment-instrument">
      <h2>Travel details</h2>
      <div class="sidebyside" layout horizontal wrap>
        <div flex?="{{!isPhoneSize}}">
          <h4 layout horizontal center><core-icon icon="io:directions" aria-hidden="true"></core-icon> Getting to San Francisco</h4>
          <p>Here are the three major airports in the Bay Area with international airline service:</p>
          <ul>
            <li><a href="https://www.google.com/maps/dir/San+Francisco+International+Airport,+San+Francisco,+CA+94128/Moscone+Center+West,+800+Howard+Street,+San+Francisco,+CA+94103,+United+States/@37.696524,-122.4990949,12z/data=!3m2!4b1!5s0x808580871e84c835:0x6898ed8f6d5ebf0b!4m17!4m16!1m5!1m1!1s0x808f778c55555555:0xa4f25c571acded3f!2m2!1d-122.378955!2d37.621313!1m5!1m1!1s0x80858087111726eb:0x635ab8069f6523c3!2m2!1d-122.404025!2d37.783083!2m2!7e2!8j1421306400!3e0?hl=en" target="_blank">San Francisco International Airport (SFO)</a><br>
            ~14 miles</li>
            <li><a href="https://www.google.com/maps/dir/Oakland+International+Airport,+Oakland,+CA/Moscone+Center+West,+800+Howard+Street,+San+Francisco,+CA+94103,+United+States/@37.7688173,-122.3703704,12z/data=!3m2!4b1!5s0x808580871e84c835:0x6898ed8f6d5ebf0b!4m17!4m16!1m5!1m1!1s0x808f845402c0a641:0xb0630c0f03017460!2m2!1d-122.219743!2d37.712569!1m5!1m1!1s0x80858087111726eb:0x635ab8069f6523c3!2m2!1d-122.404025!2d37.783083!2m2!7e2!8j1421306400!3e0?hl=en" target="_blank">Oakland International Airport (OAK)</a><br>
            ~20 miles</li>
            <li><a href="https://www.google.com/maps/dir/San+Jose+International+Airport-Sjc,+Airport+Boulevard,+San+Jose,+CA,+United+States/Moscone+Center+West,+800+Howard+Street,+San+Francisco,+CA+94103,+United+States/@37.5944754,-122.4295683,10z/data=!3m1!4b1!4m17!4m16!1m5!1m1!1s0x808fcbc3fab3c59b:0xbcfa443f6df67e3e!2m2!1d-121.928937!2d37.363947!1m5!1m1!1s0x80858087111726eb:0x635ab8069f6523c3!2m2!1d-122.404025!2d37.783083!2m2!7e2!8j1421306400!3e0?hl=en" target="_blank">San Jose International Airport (SJC)</a><br>
            ~46 miles</li>
          </ul>
          <!-- <h5><i18n-msg msgid="airport-shuttle">Airport Shuttle</i18n-msg></h5>
          <p>Super Shuttle International is offering a discount to all Google I/O attendees. Reservations must be booked in advance either <a href="https://www.supershuttle.com/default.aspx?GC=G66Z7">online</a> or by calling 1-800-BLUE-VAN (1-800-258-3826). The discount code for Google I/O is G66Z7.</p> -->
        </div>
        <div flex?="{{!isPhoneSize}}">
          <h4 layout horizontal center><core-icon icon="io:hotel" aria-hidden="true"></core-icon> Hotels</h4>
          <p>We have room blocks at the following hotels:</p>
          <ul>
            <li><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=GOOGLE%20I/O%5ESFODT%60GOOGOOA%7CGOOGOOB%7CGOOGOOC%60299.00-329.00%60USD%60false%605/27/15%605/29/15%605/5/15&app=resvlink&stop_mobi=yes" target="_blank">San Francisco Marriott Marquis</a><br>
            Group Code: GOOA
            </li>
            <li><a href="https://gc.synxis.com/rez.aspx?Hotel=26753&Chain=10179&arrive=05/26/2015&depart=5/30/2015&adult=1&child=0&group=12340802300" target="_blank">Palomar San Francisco</a><br>
            Group Code: 12340802300
            </li>
            <li>Parc 55<br>
            Call 1-800-HILTONS and reference Parc 55 and the discount code GIO
            </li>
            <li><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=GOOGLE%20I/O%20DEVELOPERS%20CONFERENCE%5ESFOCD%60GIOGIOA%7CGIOGIOB%60239.00%60USD%60false%605/26/15%605/30/15%6005/05/15&app=resvlink&stop_mobi=yes" target="_blank">Courtyard by Marriott SF Downtown</a><br>
            Group Code: GIO
            </li>
            <li><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Google%20Conference%5Esfoak%60goggoga%60239.00%60USD%60false%605/27/15%605/29/15%6005/06/15&app=resvlink&stop_mobi=yes" target="_blank">Hotel Adagio</a><br>
            Group Code: GOG or Google I/O Conference
            </li>
            <li><a href="https://gc.synxis.com/rez.aspx?Hotel=59679&Chain=15564&Dest=SFO%20&template=CAR&arrive=5/27/2015&depart=5/29/2015&adult=1&child=0&group=1505GOOGLE_001&shell=JV_GCF" target="_blank">Hotel Carlton</a><br>
            Group Code: 1505GOOGLE_001
            </li>
          </ul>
        </div>
        <div flex?="{{!isPhoneSize}}">
          <h4 layout horizontal center><core-icon icon="io:place" aria-hidden="true"></core-icon> Moscone Center West</h4>
          <p>The <a href="https://www.moscone.com/directions/index.shtml" target="_blank">Moscone Center</a> is located at the corner of 4th &amp; Howard Streets at 800 Howard St., San Francisco, CA 94103.</p>
          <p>Public transportation to the Moscone Center is accessible via:</p>
          <ul>
            <li><a href="https://www.bart.gov/" target="_blank">BART</a><br>
            Subway linking San Francisco to Oakland and Berkeley</li>
            <li><a href="https://www.sfmta.com/" target="_blank">MUNI Metro</a><br>
            Citywide buses, trollies and cable cars</li>
            <li><a href="http://www.caltrain.com/" target="_blank">Caltrain</a><br>
            Regional rail system</li>
          </ul>
          <p><a href="https://www.lyft.com/app?code=GOOGLEIO" target="_blank"><core-icon src="images/onsite/lyft_pink.svg" aria-hidden="true" class="lyft-logo"></core-icon></a> We've also partnered with Lyft to make sure your journey is as easy as possible. New users can download Lyft and apply the promo code <a href="https://www.lyft.com/app?code=GOOGLEIO" target="_blank">GOOGLEIO</a> to get $50 off their first 10 rides. Current Lyft users will receive promo codes shortly before I/O.</p>
        </div>
      </div>
    </section>
  </div>
{% end %}
