{% define "meta" %}
  "title": "Registration",
  "mastheadBgClass": "bg-cyan"
{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="registration">Registration</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="card__container">
    <div class="card">
      <div class="card-content">
        <h2>Registration opens March 10 at 9AM PST</h2>
        <a href="#"><core-icon icon="social:notifications-none"></core-icon> <i18n-msg msgid="setreminder">Set a Reminder</i18n-msg></a>
      </div>
      <div class="card-content">
        <h3 class="card__title"><i18n-msg msgid="howitworks">How it works</i18n-msg></h3>
        <p>Donec mi arcu, vestibulum eu mollis ac, tristique non lorem. Sed vitae accumsan quam. Pellentesque vitae lacinia ipsum. Suspendisse venenatis, dolor gravida accumsan eleifend, nisl tellus mattis nibh, ac condimentum mauris ante ut nisi.</p>
      </div>
    </div>
  </div>

  <section class="page__section bg-light-grey ">
    <div class="io-countdown" layout vertical center>
      <countdown-timer autostart
                       bgcolor="#F5F5F5"
                       date="Mar 10 2015 09:00:00 GMT-0700 (PDT)"
                       dateadjustment="5" easeintime="500" waittime="300"
                       easeouttime="400"></countdown-timer>
      <h4><i18n-msg msgid="daysuntilreg">Days until registration opens</i18n-msg></h4>
    </div>
  </section>
{% end %}

