{% define "title" %}"Registration"{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "masthead" %}
  <h1><i18n-msg msgid="registration">Registration</i18n-msg></h1>
{% end %}

{% define "content" %}
  <div class="card__container slide-up">
    <div class="card js-experiment-visualizer">
      <div class="card-content">
        <h3><i18n-msg msgid="reg-begins">Registration begins March 10 at 9AM PST</i18n-msg></h3>
        <!-- <a href="#" data-track-link="registration-set-reminder"><core-icon icon="io:notifications-none"></core-icon> <i18n-msg msgid="setreminder">Set a Reminder</i18n-msg></a> -->
      </div>
      <div class="card-content">
        <h4 class="card__title"><i18n-msg msgid="howitworks">How it works</i18n-msg></h4>
        <div>Donec mi arcu, vestibulum eu mollis ac, tristique non lorem. Sed vitae accumsan quam. Pellentesque vitae lacinia ipsum. Suspendisse venenatis, dolor gravida accumsan eleifend, nisl tellus mattis nibh, ac condimentum mauris ante ut nisi.</div>
      </div>
    </div>
  </div>

  <div class="slide-up-delay">
    <section class="page__section page__section--countdown bg-light-grey js-experiment-instrument">
      <div class="io-countdown" layout vertical center>
        <countdown-timer autostart
                         bgcolor="#F5F5F5"
                         date="Mar 10 2015 09:00:00 GMT-0700 (PDT)"
                         dateadjustment="5" easeintime="500" waittime="300"
                         easeouttime="400" thresholdInformation="{{thresholdInformation}}"></countdown-timer>
        <template if="{{ thresholdInformation.thresholdDays }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="daysuntilreg">Days until registration begins</i18n-msg>
          </h4>
        </template>

        <template if="{{ thresholdInformation.thresholdHours }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="hoursuntilreg">Hours until registration begins</i18n-msg>
          </h4>
        </template>

        <template if="{{ thresholdInformation.thresholdMinutes }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="minutesuntilreg">Minutes until registration begins</i18n-msg>
          </h4>
        </template>

        <template if="{{ thresholdInformation.thresholdSeconds }}">
          <h4 class="countdown-label">
            <i18n-msg msgid="secondsuntilreg">Seconds until registration begins</i18n-msg>
          </h4>
        </template>
      </div>
    </section>
  </div>
{% end %}

