{% define "title" %}Schedule{% end %}

{% define "mastheadBgClass" %}bg-cyan{% end %}

{% define "defaultSubpage" %}agenda{% end %}
{% define "selectedSubpage" %}agenda{% end %}

{% define "masthead" %}
  <h1>Schedule</h1>
  <div layout horizontal justified>
    <paper-tabs id="subpage-tabs" class="white" valueattr="label" selected="agenda"
                scrollable?="{{isPhoneSize}}" link>
      <paper-tab label="agenda" role="">
        <a href="#agenda" data-track-link="schedule-agenda" data-ajax-link
                          layout horizontal center-center>Agenda</a>
      </paper-tab>
      <paper-tab label="day1" role="">
        <a href="#day1" data-track-link="schedule-day1" data-ajax-link
                        layout horizontal center-center>May {{days.day1}}</a>
      </paper-tab>
      <paper-tab label="day2" role="">
        <a href="#day2" data-track-link="schedule-day2" data-ajax-link
                        layout horizontal center-center>May {{days.day2}}</a>
      </paper-tab>
      <paper-tab label="myschedule" role="">
        <a href="#myschedule" data-track-link="schedule-mysched" data-ajax-link
                           layout horizontal center-center>My Schedule</a>
      </paper-tab>
    </paper-tabs>
    <paper-dropdown-menu hidden?="{{isPhoneSize || pages[selectedPage].selectedSubpage === 'agenda'}}">
      <paper-dropdown class="dropdown" halign="right" duration="200">
        <core-menu class="menu" selected="{{selectedTimezone}}" valueattr="label" on-core-select="{{selectTimezone}}">
          <template repeat="{{zone in timezones}}">
            <paper-item label="{{zone}}">{{zone}}</paper-item>
          </template>
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu>
  </div>
{% end %}

{% define "content" %}
<!-- backdrop shouldn't be applied on ios - github.com/Polymer/paper-dialog/issues/16 -->
<paper-dialog class="session__detail" transition="paper-dialog-transition-bottom"
              layered="false" backdrop?="{{!isIOS}}"
              on-core-overlay-close-completed="{{onSessionDetailsClose}}"
              on-core-overlay-open-completed="{{onSessionDetailsOpen}}">
  <paper-icon-button icon="arrow-back" core-overlay-toggle aria-label="Close session"></paper-icon-button>
  <div class="card__photo" relative>
    <core-image src="{{selectedSession.photoUrl || 'images/schedule/session_placeholder.jpg'}}"
                placeholder="images/io15-color.png"
                sizing="cover" preload fade fit></core-image>
    <paper-fab icon="{{selectedSession.saved ? 'check' : 'add'}}"
               mini?="{{isPhoneSize}}" class="{{ {active: selectedSession.saved} | tokenList }}"
               on-up="{{toggleSaveSession}}"
               disabled?="{{scheduleFetchingUserData}}"></paper-fab>
    <paper-progress indeterminate hidden?="{{!currentUser || (savedSessions && !scheduleFetchingUserData)}}"></paper-progress>
  </div>
  <div class="session__info__section">
    <h2 class="session__title">{{selectedSession.title}}</h2>
    <h5 class="session__time">Day {{selectedSession.day}}: {{selectedSession.startTimestamp | formatSessionDateFilter}} / {{selectedSession.start}}<span hidden?="{{selectedSession.id === '__keynote__'}}"> - {{selectedSession.end}}</span> / {{selectedSession.room}}</h5>
    <h5 class="session__categories">{{selectedSession.tags | formatSessionTagsFilter}}</h5>
    <div class="session__desc">{{selectedSession.description}}</div>
    <div class="session__social" layout horizontal>
      <a href="#" target="_blank" class="share-icon" data-share-type="gplus"
         data-track-link="schedule-detail-share-gplus" on-click="{{openShareWindow}}">
        <core-icon icon="io:post-gplus"></core-icon>
      </a>
      <a href="#" target="_blank" class="share-icon" data-share-type="twitter"
         data-track-link="schedule-detail-share-twitter" on-click="{{openShareWindow}}">
        <core-icon icon="io:post-twitter"></core-icon>
      </a>
      <a href="#" target="_blank" class="share-icon" data-share-type="fb"
         data-track-link="schedule-detail-share-fb" on-click="{{openShareWindow}}">
        <core-icon icon="io:post-facebook"></core-icon>
      </a>
      <span flex class="session__livestream" hidden?="{{!selectedSession.isLivestream}}">Live streamed <core-icon icon="io:videocam"></core-icon></span>
    </div>
  </div>
  <div class="session__info__section session__speakers" hidden?="{{!selectedSession.speakers.length}}">
    <h4>Speakers</h4>
    <div layout horizontal wrap>

      <template repeat="{{speakerId in selectedSession.speakers}}">
        <div class="speaker__card" layout horizontal>
          <div><img _src="{{scheduleData.speakers[speakerId].thumbnailUrl || 'images/touch/homescreen96.png'}}" class="profilepic"></div>
          <div class="speaker__info" layout vertical flex>
            <span class="speaker__name">{{scheduleData.speakers[speakerId].name}}</span>
            <span class="speaker__title">{{scheduleData.speakers[speakerId].company}}</span>
            <div class="speaker__desc">{{scheduleData.speakers[speakerId].bio}}</div>
            <div class="session__social" layout horizontal>
              <a href="{{scheduleData.speakers[speakerId].plusoneUrl}}" target="_blank" class="share-icon" hidden?="{{!scheduleData.speakers[speakerId].plusoneUrl}}"><core-icon icon="io:post-gplus"></core-icon></a>
              <a href="{{scheduleData.speakers[speakerId].twitterUrl}}" target="_blank" class="share-icon" hidden?="{{!scheduleData.speakers[speakerId].twitterUrl}}"><core-icon icon="io:post-twitter"></core-icon></a>
            </div>
          </div>
        </div>
      </template>

    </div>
  </div>
  <!-- <div class="session__info__section session__info__links card-content">
    <a href="#" data-track-link="schedule-detail-related" core-overlay-toggle>View related sessions</a>
  </div> -->
</paper-dialog>

<div class="subpage__container">
  <section class="subpage-agenda subpage__content {{ {active: pages['schedule'].selectedSubpage == 'agenda'} | tokenList}}">
    <section class="page__section page__section--top slide-up">
      <div class="card__container card__container--top">
        <div class="card js-experiment-visualizer">
          <div class="card-content">
            <h4>May 27, 2015</h4>
          </div>
          <div class="card-content">
            <div layout horizontal>
              <core-icon icon="schedule" aria-hidden="true"></core-icon>
              <div class="schedule-rows" flex>
                <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                  <span class="schedule-time">9:00 AM - 6:00 PM</span>
                  <span class="schedule-title" flex auto-vertical>Badge pick-up</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="slide-up-delay">
      <section class="page__section">
        <div class="card__container card__container--top">
          <div class="card js-experiment-visualizer">
            <div class="card-content">
              <h4>May 28, 2015</h4>
            </div>
            <div class="card-content">
              <div layout horizontal>
                <core-icon icon="schedule" aria-hidden="true"></core-icon>
                <div class="schedule-rows" flex>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">7:00 AM - 9:00 AM</span>
                    <span class="schedule-title" flex auto-vertical>Breakfast</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">7:00 AM - 5:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>Badge pick-up</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">9:30 AM</span>
                    <span class="schedule-title" flex auto-vertical>Keynote</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">12:00 PM - 5:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>Code labs, Sessions &amp; Sandbox</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">12:00 PM - 2:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>Lunch</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">6:30 PM - 10:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>After Hours</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="page__section">
        <div class="card__container card__container--top">
          <div class="card js-experiment-visualizer">
            <div class="card-content">
              <h4>May 29, 2015</h4>
            </div>
            <div class="card-content">
              <div layout horizontal>
                <core-icon icon="schedule" aria-hidden="true"></core-icon>
                <div class="schedule-rows" flex>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">7:00 AM - 9:00 AM</span>
                    <span class="schedule-title" flex auto-vertical>Breakfast</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">8:00 AM - 3:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>Badge pick-up</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">9:00 AM - 5:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>Code labs, Sessions &amp; Sandbox</span>
                  </div>
                  <div class="schedule-row" layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                    <span class="schedule-time">12:00 PM - 2:00 PM</span>
                    <span class="schedule-title" flex auto-vertical>Lunch</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <section id="subpage-day1" class="subpage-day1 subpage-day2 subpage-myschedule subpage__content {{ {active: pages['schedule'].selectedSubpage == 'day1' || pages['schedule'].selectedSubpage == 'day2' || pages['schedule'].selectedSubpage == 'myschedule'} | tokenList}}">
    <section  class="page__section page__section--top slide-up">
      <div id="signin-prompt"
          class="card__container card__container--top {{{'prompt-hidden': currentUser} | tokenList}}"
          hidden?="{{pages['schedule'].selectedSubpage == 'myschedule'}}">
        <div class="card js-experiment-visualizer">
          <div class="card-content">
            <h3 class="card__title">Create your custom I/O schedule</h3>
            <div>Sign in to add events to My Schedule.
              <span class="notification__feature">
                To get notifications on this device, you need to sign in and enable notifications.
                <div class="note">Note:  Notifications are activated per device. If you want to receive notifications on multiple devices, make sure to sign in on each device. All device notifications can be turned on/off at any time in the settings panel.</div>
              </span>
            </div>
          </div>
          <div class="card-content">
            <span class="anchor-like" role="link" tabindex="0" data-track-link="schedule-sign-in" on-click="{{signIn}}">
              Sign in
            </span>
          </div>
        </div>
      </div>
      <div class="card__container card__container--top {{{'notification__feature': currentUser} | tokenList}}">
        <div class="card js-experiment-visualizer"
          hidden?="{{pages['schedule'].selectedSubpage != 'myschedule'}}">
          <div class="card-content">
            <h3 class="card__title" hidden?="{{currentUser}}">Create your custom I/O schedule</h3>
            <div hidden?="{{currentUser}}">
              Sign in to add events to My Schedule.
              <span class="notification__feature">
                To get notifications on this device, you need to sign in and enable notifications.
                <div class="note">Note:  Notifications are activated per device. If you want to receive notifications on multiple devices, make sure to sign in on each device. All device notifications can be turned on/off at any time in the settings panel.</div>
              </span>
            </div>
            <div hidden?="{{!currentUser}}" class="notification__feature">
              <div>By default, you'll get notifications on this device when:
                <ul>
                  <li>Events in My Schedule are about to start</li>
                  <li>Videos of sessions added to My Schedule are available</li>
                </ul>
              </div>
              <div class="note">
                Note:  Notifications are activated per device. If you want to receive notifications on multiple devices, make sure to sign in on each device. All device notifications can be turned on/off at any time in the settings panel.
              </div>
            </div>
          </div>
          <div class="card-content">
            <span class="anchor-like" role="link" tabindex="0"
                data-track-link="schedule-sign-in" on-click="{{signIn}}"
                hidden?="{{currentUser}}">
              Sign in
            </span>
            <span class="anchor-like" role="link" tabindex="0"
                data-track-link="schedule-open-settings" on-click="{{openSettings}}"
                hidden?="{{!currentUser}}">
              Go to settings
            </span>
          </div>
        </div>
      </div>
    </section>
    <div class="slide-up-delay">
      <div class="page__filters" layout horizontal hidden?="{{!isPhoneSize || pages[selectedPage].selectedSubpage === 'myschedule'}}">
        <span flex>
          <paper-dropdown-menu>
            <paper-dropdown class="dropdown" halign="left" duration="200">
              <core-menu class="menu" selected="Filters" valueattr="label"
                  on-core-activate="{{selectFilter}}">
                <paper-item label="Filters">Filters</paper-item>
                <template repeat="{{theme, i in filterThemes}}">
                  <paper-item label="{{theme}}"
                    class="{{ {'paper-item-separator': i === 0} | tokenList}}">{{theme}}</paper-item>
                </template>
                <template repeat="{{type, i in filterSessionTypes}}">
                  <paper-item label="{{type}}"
                      class="{{ {'paper-item-separator': i === 0} | tokenList}}">{{type}}</paper-item>
                </template>
                <paper-item label="Live Streamed">Live Streamed</paper-item>
              </core-menu>
            </paper-dropdown>
          </paper-dropdown-menu>
        </span>
        <paper-dropdown-menu>
          <paper-dropdown class="dropdown" halign="right" duration="200">
            <core-menu class="menu" selected="{{selectedTimezone}}" valueattr="label">
              <template repeat="{{zone in timezones}}">
                <paper-item label="{{zone}}">{{zone}}</paper-item>
              </template>
            </core-menu>
          </paper-dropdown>
        </paper-dropdown-menu>
      </div>
      <section class="page__section">
        <io-schedule day="{{days[pages[selectedPage].selectedSubpage]}}"
          sessions="{{scheduleData.sessions}}" sessionThemes="{{filterThemes}}"
          sessionTypes="{{filterSessionTypes}}"
          showOnlySavedSessions="{{pages[selectedPage].selectedSubpage === 'myschedule'}}"
          user="{{currentUser}}" userSessions="{{savedSessions}}"
          timezone="{{selectedTimezone}}"
          timezoneNames="{{timezoneNames}}"
          fetchingUserData="{{scheduleFetchingUserData}}"
          filters="{{sessionURLFilters}}"
          on-session-bookmark="{{toggleSaveSession}}"
          on-session-select="{{openSession}}"
          gmtDayOne="{{GMTDay1}}"></io-schedule>
      </section>
    </div>
  </section>
</div>
<script>
  (function() {

    var SUBTAB_SELECTOR = '#subpage-tabs a';

    var pageIsDeepLinked_ = true;
    var alreadyLoadedUserSchedule = false;

    var ioScheduleEl = null;

    function updateSavedSessionsUI(savedSessions) {
      //  Mark/unmarked sessions the user has bookmarked.
      if (IOWA.Elements.Template.scheduleData) {
        var sessions = IOWA.Elements.Template.scheduleData.sessions;
        for (var id in sessions) {
          sessions[id].saved = savedSessions.indexOf(id) !== -1;
        }
      }
    }

    function fetchUserData() {
      // Don't fetch user's data if we haven't fetched the schedule yet, or
      // it's already been fetched.
      if (IOWA.Elements.Template.scheduleData && !alreadyLoadedUserSchedule) {
        alreadyLoadedUserSchedule = true;
        IOWA.Elements.Template.scheduleFetchingUserData = true;

        // Fetch user's saved sessions.
        IOWA.Schedule.fetchUserSchedule(function(savedSessions) {
          IOWA.Elements.Template.scheduleFetchingUserData = false;

          // Use existing template model.
          if (!IOWA.Elements.Template.savedSessions) {
            IOWA.Elements.Template.savedSessions = savedSessions;
          }
          updateSavedSessionsUI(savedSessions);
        });
      }
    }

    // Page-specific JS that runs when this page is loaded for the first time.
    function initPage() {
      var page = IOWA.Elements.Template.pages['schedule'];

      if (page.hasBeenLoaded) {
        return;
      }

      IOWA.Elements.Template.dontAutoSubscribe = false;

      var GMTDay1 = moment(IOWA.Elements.Template.GMTDay1);

      IOWA.Elements.Template.days = {
        'day1': parseInt(GMTDay1.format('D'), 10),
        'day2': parseInt(GMTDay1.add(1, 'days').format('D'), 10)
      };

      page.onSubpageTransitionDone = function() {
        var selectedSubpage = IOWA.Elements.Template.pages['schedule'].selectedSubpage;
        IOWA.Elements.Masthead.querySelector('#subpage-tabs').selected = selectedSubpage;
      };

      page.onPageTransitionDone = function(e) {
        IOWA.Schedule.fetchSchedule().then(function(scheduleData) {
          var template = IOWA.Elements.Template;

          // Should already be set by the worker, but just in case
          // (or if the worker is removed), set schedule data.
          if (!template.scheduleData) {
            template.scheduleData = scheduleData

            var tags = IOWA.Schedule.generateFilters(scheduleData.tags);

            template.filterSessionTypes = tags.filterSessionTypes;
            template.filterThemes = tags.filterThemes;
            template.filterTopics = tags.filterTopics;
          }

          IOWA.Elements.Masthead.querySelector('#subpage-tabs').selected = page.selectedSubpage;

          // Deep link into schedule tab.
          var filters = [];
          var parsedUrl = IOWA.Router.parseUrl(window.location.toString());
          if (parsedUrl.params.filters) {
            filters = parsedUrl.params.filters.split(',');
          }

          template.sessionURLFilters = filters;
          template.selectedTimezone = 'GMT-07:00'; // PDT timezone.

          // Deep link into session.
          var sessionId = parsedUrl.resourceId;
          if (sessionId) {
            pageIsDeepLinked_ = false;
            template.openSession(sessionId);
          } else {
            pageIsDeepLinked_ = true;
          }
        }).then(function() {
          if (IOWA.Elements.GoogleSignIn.signedIn) {
            fetchUserData();
          }
        });
      };

      var onSigninChanged_ = function(e) {
        if (e.detail.signedIn) {
          fetchUserData();
        } else {
          alreadyLoadedUserSchedule = false;
          IOWA.Elements.Template.savedSessions = [];
          updateSavedSessionsUI(IOWA.Elements.Template.savedSessions);
          IOWA.Schedule.clearCachedUserSchedule();
        }
      };

      page.load = function() {
        // Reset template variables for when revisiting the page.
        IOWA.Elements.Template.selectedSession = null;
        IOWA.Elements.Template.scheduleFetchingUserData = false;

        ioScheduleEl = ioScheduleEl || document.querySelector('io-schedule');

        // Wait 1 rAF for template to stamp.
        IOWA.Elements.Template.async(function() {
          // Wait for signed-in state to fetch user's schedule.
          if (!IOWA.Elements.GoogleSignIn.signedIn) {
            // Note: don't need to remove a listener each nav as per:
            // developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener#Multiple_identical_event_listeners
            document.addEventListener('signin-change', onSigninChanged_);
          }

          IOWA.A11y.addFocusStates(SUBTAB_SELECTOR);
        });
      };

      page.unload = function() {
        IOWA.A11y.removeFocusStates(SUBTAB_SELECTOR);
      };

      IOWA.Elements.Template.openSettings = function(e, detail, sender) {
        var attr = sender.getAttribute('data-track-link');
        if (attr) {
          IOWA.Analytics.trackEvent('link', 'click', attr);
        }
        IOWA.Elements.Nav.querySelector('#signin-settings-panel').open();
      };

      IOWA.Elements.Template.openSession = function(sessionIdOrDetail) {
        var sessionId = sessionIdOrDetail.detail ? sessionIdOrDetail.detail : sessionIdOrDetail;
        this.selectedSession = this.scheduleData.sessions[sessionId];

        // Open paper-dialog.
        var panel = IOWA.Elements.Main.querySelector('.session__detail');
        panel.open();
      };

      IOWA.Elements.Template.toggleSaveSession = function(e, detail, sender) {
        e.stopPropagation();

        // Toggle bookmarking came from <io-schedule> event.
        if (detail && detail.sessionId) {
          this.selectedSession = this.scheduleData.sessions[detail.sessionId];
        }

        var selectedSession = this.selectedSession;
        var saved = !selectedSession.saved;

        IOWA.Schedule.saveSession(selectedSession.id, saved).then(function() {
          IOWA.Elements.Template.scheduleFetchingUserData = false;
          selectedSession.saved = saved;

          ioScheduleEl.checkEmptyBlocks();

          if (saved) {
            // If IOWA.Elements.Template.dontAutoSubscribe is true, this promise will reject immediately, and we'll just
            // add the session without attempting to auto-subscribe.
            return IOWA.Notifications.subscribePromise(IOWA.Elements.Template.dontAutoSubscribe).then(function() {
              IOWA.Elements.Template.dontAutoSubscribe = false;
              IOWA.Elements.Toast.showMessage("Added to My Schedule. You'll get a notification when it starts.");
            }).catch(function(error) {
              IOWA.Elements.Template.dontAutoSubscribe = true;
              if (error && error.name === 'AbortError') {
                // AbortError indicates that the subscription couldn't be completed due to the page
                // persmissions for notifications being set to denied.
                IOWA.Elements.Toast.showMessage('Added to My Schedule. Want to enable notifications?', null, 'Learn how', function() {
                  window.open('permissions', '_blank');
                });
              } else {
                // If the subscription failed for some other reason, like because we're not
                // auto-subscribing, show the normal toast.
                IOWA.Elements.Toast.showMessage('Added to My Schedule.');
              }
            });
          } else {
            IOWA.Elements.Toast.showMessage('Removed from My Schedule');
          }
        });
      };

      IOWA.Elements.Template.onSessionDetailsClose = function(e, detail, sender) {
        this.scheduleFetchingUserData = false;
        this.selectedSession = null;

        // Remove session id hash from URL.
        var url = IOWA.Router.composeUrl(
            this.selectedPage, this.pages[this.selectedPage].selectedSubpage,
            '', window.location.search);
        history.replaceState({}, null, url);
      };

      IOWA.Elements.Template.onSessionDetailsOpen = function(e, detail, sender) {
        sender.updateTargetDimensions();

        // Update URL with deep link if we're not from a deep link page load.
        if (pageIsDeepLinked_) {
          var url = IOWA.Router.composeUrl(
              this.selectedPage, this.pages[this.selectedPage].selectedSubpage,
              this.selectedSession.id, window.location.search);

          history.replaceState({}, null, url);
        } else {
          pageIsDeepLinked_ = true;
        }
      };

      IOWA.Elements.Template.selectFilter = function(e, detail, sender) {
        e.stopPropagation();
        ioScheduleEl.filters = sender.selectedIndex ? [sender.selected] : [];
      };

      IOWA.Elements.Template.selectTimezone = function(e, detail, sender) {
        this.days.day1 = ioScheduleEl.getLocalizedTime(this.GMTDay1).format('D');
        this.days.day2 = ioScheduleEl.getLocalizedTime(this.GMTDay2).format('D');
      };

      page.load(); // Run load callback on page load.
      page.hasBeenLoaded = true;
    }

    // IE will be "loading" at this point. Other browsers will already be "complete".
    if (document.readyState !== 'loading') {
      initPage();
    }

    // Necessary for IE's lack of native <template>
    // https://github.com/GoogleChrome/ioweb2015/issues/599
    window._initPage = initPage;
  })();
  </script>
{% end %}
