{% define "meta" %}
  "title": "Schedule",
  "mastheadBgClass": "bg-cyan"
{% end %}

{% define "masthead" %}
  <h1>Schedule</h1>
  <paper-tabs class="white" selected="0">
    <paper-tab><i18n-msg msgid="agenda">Agenda</i18n-msg></paper-tab>
    <paper-tab disabled><i18n-msg msgid="day">Day</i18n-msg> 1</paper-tab>
    <paper-tab disabled><i18n-msg msgid="day">Day</i18n-msg> 2</paper-tab>
  </paper-tabs>
{% end %}

{% define "content" %}
  <section class="page__section">
    <div class="card__container">
      <div class="card">
        <div class="card-content">
          <h2>Smarch xx, 2015</h2>
        </div>
        <div class="card-content">
          <div layout horizontal>
            <core-icon icon="schedule"></core-icon>
            <div class="schedule-rows">
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>4:00 PM - 6:00 PM</span>
                <span auto-vertical flex>Badge pick-up</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page__section">
    <div class="card__container">
      <div class="card">
        <div class="card-content">
          <h2>Smarch xx, 2015</h2>
        </div>
        <div class="card-content">
          <div layout horizontal>
            <core-icon icon="schedule"></core-icon>
            <div class="schedule-rows">
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>8:00 AM - 10:00 AM</span>
                <span auto-vertical flex>Breakfast</span>
              </div>
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>9:00 AM - 11:30 AM</span>
                <span auto-vertical flex>Keynote</span>
              </div>
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>11:30 AM - 1:30 PM</span>
                <span auto-vertical flex>Lunch</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page__section">
    <div class="card__container">
      <div class="card">
        <div class="card-content">
          <h2>Smarch xx, 2015</h2>
        </div>
        <div class="card-content">
          <div layout horizontal>
            <core-icon icon="schedule"></core-icon>
            <div class="schedule-rows">
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>8:00 AM - 10:00 AM</span>
                <span auto-vertical flex>Breakfast</span>
              </div>
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>9:00 AM - 11:30 AM</span>
                <span auto-vertical flex>Sessions</span>
              </div>
              <div layout vertical?="{{isPhoneSize}}" horizontal?="{{!isPhoneSize}}">
                <span class="schedule-time" auto-vertical flex>9:00 AM - 5:00 PM</span>
                <span auto-vertical flex>Codelabs</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% end %}

