{% define "title" %}Upgrade your browser{% end %}

{% define "content" %}
<div id="upgrade">

  <section class="page__section">
    <img src="images/io15.png" class="iologo">
  </section>

  <div class="card__container">
    <div class="card">
      <div class="card-content">
        <h2><i18n-msg msgid="upgrade-browser">Your browser doesn't support the technology used on this site. To experience the Google I/O 2015 site as intended, please upgrade your browser.</i18n-msg></h2>
      </div>
      <div class="card-content link-spacing">
        <a href="https://whatbrowser.org/" data-track-link="upgrade-whatbrowser-dot-org">
          <i18n-msg msgid="upgrade-warning">Upgrade your browser</i18n-msg>
        </a>
        <a href="./?ignore_browser_check=true" data-track-link="upgrade-continue-to-site">
          <i18n-msg msgid="upgrade-gotosite">Continue to the I/O 2015 website</i18n-msg>
        </a>
      </div>
    </div>
  </div>

</div>
{% end %}

